<template>
  <div class="builder-sidebar">
    <h1 class="builder-sidebar__title">{{ pageHeader }}</h1>
    <h3 class="builder-sidebar__subtitle">{{ pageSubHeader }}</h3>
    <div v-if="showPatients" class="app-drawer--patient">
      <ul class="app-drawer__list">
        <li v-for="(item, i) of patientsList" :key="i" class="app-drawer__item">
          <router-link
            :to="{ name: 'Patient', params: { typeId: item.id } }"
            class="app-drawer__link"
          >
            <span class="app-drawer__avatar">
              <img :src="`./data/patients/${item.id}-small.png`" alt="" class="app-drawer__img" />
            </span>
            <span v-html="item.title" class="app-drawer__title" />
          </router-link>
        </li>
      </ul>

      <div class="builder-sidebar__warning">
        {{content.warning}}
      </div>

    </div>
    <div v-else>
      <div class="builder-sidebar__cards">
        <div class="builder-sidebar__wrap">
          <VueAgile
            :infinite="false"
            :fade="false"
            :slidesToShow="2"
            :dots="false"
            ref="carousel"
            @after-change="slideAfterChange"
            :class="slideClass"
          >
            <div
              class="slide builder-sidebar__slide"
              v-for="(item, index) of appropriateData"
              :key="index"
              :class="`${item.width ? 'builder-sidebar__slide--width' : ''}`"
            >
              <AppAppropriateInfoCard
                :data="item"
                @show-graph="showGraph(item)"
                :vertical="true"
              />
            </div>
            <div class="slide builder-sidebar__slide"></div>

            <template slot="prevButton">
              <span class="dosing-carousel__arrow">&#10094;</span>
            </template>
            <template slot="nextButton">
              <span class="dosing-carousel__arrow">&#10095;</span>
            </template>
          </VueAgile>
        </div>
      </div>
      <div class="builder-sidebar__details">
        <dl class="builder-sidebar__result">
          <div
            v-for="(item, index) of resultData"
            :key="index"
            class="builder-sidebar__result-item"
          >
            <dt v-html="item.label" />
            <dd v-html="item.value + ' ' + item.value_type" />
          </div>
        </dl>
        <ul v-if="checkboxesData.length" class="builder-sidebar__checkboxes">
          <li>{{ content.type2 }}</li>
          <li
            v-for="(item, index) of checkboxesData"
            :key="index"
            class="builder-sidebar__checkboxes-item"
          >
            {{ item.title }}
          </li>
        </ul>
      </div>
    </div>
    <div class="builder-sidebar__actions">
      <button
        @click="$emit('show-controls')"
        class="builder-sidebar__btn-select"
      >
        {{ content.buttonBuild }}
      </button>
      <router-link to="/build" v-show="!showPatients">
        <app-button
          class="builder-sidebar__btn-build"
          @click="$emit('show-drawer')"
        >
          {{ content.buttonSelect }}
        </app-button>
      </router-link>
    </div>

    <AppModal
      v-if="showModal"
      @close-modal="showModal = false"
      :paddings="['20px']"
      design="app-modal--builder"
    >
      <div>
        <h4 class="builder-sidebar__modal-title">{{ graphTitle }}</h4>
        <img
          v-if="graph"
          :src="graph"
          alt="graph"
          class="builder-sidebar__graph"
        />
        <p v-else>no graph</p>
      </div>
    </AppModal>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop, Emit, Inject} from 'vue-property-decorator';
import { VueAgile } from 'vue-agile';
import AppModal from '@/components/app/AppModal.vue';

import AppSelectPatientButton from '@/components/app/AppSelectPatientButton.vue';
import AppAppropriateInfoCard from '@/components/app/AppAppropriateInfoCard.vue';
// import PATIENT from '@/data/patient-builder.json';
// import PATIENTS from '@/data/patients.json';

const appLang = process.env.VUE_APP_LANG;

const PATIENT = require('@/data/' + appLang + '/patient-builder.json');
const PATIENTS = require('@/data/' + appLang + '/patients.json');

interface TParam {
  min_value: number | boolean;
  title: string;
  type: string;
  value: boolean | number;
  displayMax?: string;
  displayMin?: string;
  max_value?: number;
  value_type: string;
  width?: boolean;
}
interface TBuilder {
  aero: TParam;
  asthma: TParam;
  dermatitis: TParam;
  eosinophil: TParam;
  feno: TParam;
  lge: TParam;
  lung: TParam;
  polyps: TParam;
  rhinitis: TParam;
  type2: TParam;
  ocs: TParam;
}

@Component({
  components: {
    AppSelectPatientButton,
    VueAgile,
    AppAppropriateInfoCard,
    AppModal,
  },
})
export default class BuilderSidebar extends Vue {
  @Prop({ required: true })
  readonly builderData!: TBuilder;
  @Inject('dataContent') private dataContent!: boolean;

  showModal = false;
  graph = '';
  graphTitle = '';
  currentSlide = 0;
  showPatients = false;
  get content() {
    return (this.dataContent as any)['summaryBuilder'];
  }
  get resultData() {
    const result: any[] = [];
    for (const [key, value] of Object.entries(this.builderData)) {
      if (['eosinophil', 'lge', 'asthma', 'lung', 'feno'].indexOf(key) > -1) {
        if (!(key === 'feno' && value.value === 0)) {
          result.push(value);
        }
      }
    }
    return result;
  }
  get checkboxesData() {
    const result: any[] = [];
    for (const [key, value] of Object.entries(this.builderData)) {
      if (
        ['rhinitis', 'dermatitis', 'polyps'].indexOf(key) > -1 &&
        value.value
      ) {
        result.push(value);
      }
    }
    return result;
  }
  get appropriateData(): object[] {
    const { ocs, aero, rhinitis, type2, eosinophil } = this.builderData;
    const cards = [];
    const eos = eosinophil.value;
    if (eos <= 149) {
      this.showPatients = true;
      return [];
    }
    if (ocs.value) return PATIENT.ocs;

    let type = type2.value ? 'type2yes' : 'type2no';
    if (aero.value) type = 'type2no';
    if (aero.value || rhinitis.value) cards.push((PATIENT.ige as any)[type]);

    if (150 <= eos && eos <= 299) {
      if (aero.value || rhinitis.value) {
        cards.push((PATIENT.lungEos150 as any)[type]);
        cards.push((PATIENT.exacerbationsEos150 as any)[type]);
      } else {
        cards.push((PATIENT.exacerbationsEos150 as any)[type]);
        cards.push((PATIENT.lungEos150 as any)[type]);
      }
    } else if (300 <= eos && eos <= 1500) {
      if (aero.value || rhinitis.value) {
        cards.push((PATIENT.lungEos300 as any)[type]);
        cards.push((PATIENT.exacerbationsEos300 as any)[type]);
      } else {
        cards.push((PATIENT.exacerbationsEos300 as any)[type]);
        cards.push((PATIENT.lungEos300 as any)[type]);
      }
    }
    cards.push((PATIENT.acq as any)[type]);
    return cards;
  }

  get slideClass() {
    if (this.appropriateData.length == this.currentSlide + 1)
      return 'agile--hide-next';
    return '';
  }
  get pageHeader() {
    return this.showPatients
      ? this.content.pageHeaderPatient
      : this.content.pageHeader;
  }
  get pageSubHeader() {
    return this.showPatients
      ? this.content.pageSubHeaderPatient
      : this.content.pageSubHeader;
  }
  get patientsList() {
    return PATIENTS;
  }
  slideAfterChange({ currentSlide }: { currentSlide: number }) {
    this.currentSlide = currentSlide;
  }
  @Emit()
  showGraph(item: object): void {
    this.graph = './data/patients/' + (item as any).graph;
    this.graphTitle = (item as any).type;
    this.showModal = true;
  }
}
</script>

<style lang="sass">
+b(builder-sidebar)
  display: flex
  flex-direction: column
  flex-shrink: 0
  justify-content: space-between
  padding: 20px 30px 20px 37px
  background-size: 100% 100%
  width: 370px
  position: absolute
  left: 0
  top: 0
  height: 100%
  +e(title)
    font-size: 28px
    margin: 12px 0 0
    color: #fff
    text-align: left
    white-space: pre-line
    width: 600px
  +e(subtitle)
    color: #ffffff
    margin: 30px 0 0
  +e(cards)
    position: relative
  +e(wrap)
    margin-top: 15px
    margin-left: -45px
    padding-left: 35px
    width: 730px
    position: relative
    .agile
      width: 810px
      .agile__list
        -webkit-mask-image: -webkit-gradient(linear,left center,right center,color-stop(.3,#000),color-stop(.90,transparent),color-stop(1,transparent))

      .agile__slides
        align-items: stretch
      .agile__slide--active
        & + .agile__slide
          opacity: 0.7
      //.agile__actions
      //  width: 500px
      .agile__nav-button
        span
          color: transparent
          width: 13px
          height: 21px
          display: block
          background-size: 100% 100%
      .agile__nav-button--prev
        margin-right: 60px
        left: auto
        right: 0
        span
          background-image: url('~@/assets/images/ui/icon-white-arrow-right.png')
          background-repeat: no-repeat
      .agile__nav-button--next
        margin-left: -15px
        right: auto
        left: 0
        span

          background-image: url('~@/assets/images/ui/icon-white-arrow-left.png')
          background-repeat: no-repeat
      &--hide-next
        .agile__nav-button--prev
          right: 330px
        .agile__nav-button--next
          display: none
  +e(wrap)
  +e(slide)
    width: 385px
    padding: 0 10px
    +m(width)
      width: 450px!important
    > .app-info-card
      background: #ffffff
      height: 100%
      display: flex
      flex-wrap: wrap
      //height: 205px
  +e(details)
    display: flex
    width: 700px
    margin-top: 14px
  +e(result)
    color: #fff
    width: 295px
  +e(result-item)
    display: flex
    justify-content: space-between
    padding: 6px 0
    border-bottom: 1px solid rgba(#fff, 0.2)

    &:last-child
      border-bottom: none
    dd
      font-weight: bold
  +e(checkboxes)
    margin-left: 90px
    padding-left: 0
    width: 180px
    position: absolute
    left: 335px
    margin-top: 23px
    color: #fff
    //margin-top: 20px
    li:first-child
      margin-bottom: 8px
  +e(checkboxes-item)
    color: #fff
    padding: 5px 0
    font-weight: bold
    font-size: 15px
    line-height: 1.2
  +e(actions)
    //margin-top: 15px
    padding-right: 8px
    padding-left: 2px
    margin-top: auto
  +e(btn-select)
    +btn
    background: #fff
    color: $colorBase
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    display: flex
    //margin-top: 20px
    padding: 7px 15px 6px 15px
    width: 100%
    margin-bottom: 8px
    &:after
      margin-left: auto
      display: block
      content: ''
      width: 13px
      height: 21px
      background: url('~@/assets/images/ui/icon-arrow-right.png')
      background-size: 100% 100%
  +e(btn-build)
    +btn
    font-size: 18px
    text-transform: uppercase
    color: #fff
    font-weight: bold
    margin-top: 22px
    display: flex
    padding: 3px 15px
    border-bottom: 2px solid #fff
    width: 100%
    margin-bottom: 18px
    &:after
      margin-left: auto
      display: block
      content: ''
      width: 15px
      height: 15px
      background: url('~@/assets/images/ui/icon-menu.png')
      background-size: 100% 100%
      margin-top: 1px
  +e(graph)
    width: 100%
    margin: 0 auto
    display: block
    width: 700px
  +e(modal-title)
    text-transform: capitalize
    width: 700px
    margin-left: auto
    margin-right: auto
  +e(warning)
    //position: absolute
    //right: 10px
    //bottom: 10px
    //z-index: 20
    margin-top: 36px
    width: 250px
    padding: 10px 10px 15px
    color: white
    font-weight: bold
    font-size: 7.6px
    line-height: 1.4
    background-color: $colorBgPlaceholder
    letter-spacing: 0.1px
+b(app-drawer)
  +m(patient)
    margin-top: 23px
    +e(list)
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 18px 19px
    +e(item)
      background: #ffffff
      width: 248px
      height: 71px
      background: url("~@/assets/images/ui/bg-cards-patients-small.png")
      background-position: 0 0
      border-bottom: none
      padding: 0
      display: block
      //background-size: 50% 50%
      //&:nth-child(1)
      //  background-position: 0 0
      &:nth-child(2)
        background-position: 248px 0
      &:nth-child(3)
        background-position: 0 -89px
      &:nth-child(4)
        background-position: 248px -89px
      &:nth-child(5)
        background-position: 0 -178px
      &:nth-child(6)
        background-position: 248px -178px
      &:nth-child(7)
        background-position: 0 -267px
      &:nth-child(8)
        background-position: 248px -267px

    +e(link)
      height: 100%
      justify-content: flex-start
      &:after
        right: 15px
    +e(avatar)
      position: relative
      width: 68px
      align-self: flex-end
      &:after
        content: "FPO"
        color: rgba($colorBgPlaceholder, 0.2)
        position: absolute
        top: 25px
        left: 5px
        font-size: 25px
    +e(img)
      width: 100%
      display: block
    +e(title)
      color: #63554f
      font-size: 16px
      //padding-right: 30px
      line-height: 1
      width: 150px
</style>
