<template>
  <div class="switch-control" :class="{ enabled: isEnabled }">
    <label class="label" @click="toggle">{{ title }}</label>
    <div
      :disabled="disabled"
      class="switch-button-control"
      :class="{ enabled: isEnabled, disabled: disabled }"
    >
      <div
        class="switch-button"
        :class="{ enabled: isEnabled, disabled: disabled }"
        @click="toggle"
      >
        <div class="button"></div>
      </div>
      <div class="value on-value">{{ content.yes }}</div>
      <div class="value off-value">{{ content.no }}</div>
      <!-- <div class="switch-button-label">
        <slot></slot>
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject, Prop, Model} from "vue-property-decorator";

@Component
export default class SwitchButton extends Vue {
  @Inject('dataContent') private dataContent!: any;
  @Prop({ type: Boolean }) readonly disabled!: boolean;
  @Prop({ type: String }) readonly title!: string;
  @Model('toggle', { type: Boolean }) readonly isEnabled!: boolean

  toggle() {
    if (!this.disabled) {
      this.$emit('toggle', !this.isEnabled);
    }
  }

  get content() {
    return (this.dataContent as any)['builder'];
  }
}
</script>

<style lang="scss" scoped>
// For switch-button styling
.switch-control {
  width: 100%;
  display: flex;
  .label {
    float: left;
    color: #fff;
    font-weight: bold;
    flex: 1;
    margin-top: 10px;
  }
}
.switch-button-control {
  $switch-value-padding: 5px;
  $switch-value-padding-side: 5px;
  position: relative;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  margin: 2px 10px 7px 0;
  height: 36px;
  //margin-top: -1.3vw;
  //padding-top: 0.6vw;

  .value {
    //padding: 1vw;
    pointer-events: none;
    z-index: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.enabled {
    .on-value {
      color: white;
    }
    .off-value {
      color: #fff;
    }
    .button {
      background-color: $colorBgBright !important;
    }
  }

  .on-value {
    color: #fff;
    padding-left: $switch-value-padding-side;
    padding-right: $switch-value-padding;
    // padding-right: calc(#{$switch-value-padding}/2.0);
    margin-right: 7px;
    margin-left: 1px;
  }
  .off-value {
    color: $colorBase;
    padding-right: $switch-value-padding-side;
    padding-left: $switch-value-padding;
    // padding-left: calc(#{$switch-value-padding}/2.0);
    margin-right: 2px;
  }

  .switch-button {
    top: 0;
    position: absolute;
    $switch-button-height: 36px;
    $switch-button-color: #fff;
    $switch-button-border-thickness: 0.2vw;
    $switch-transition: all 0.3s ease-in-out;
    $switch-is-rounded: true;

    height: $switch-button-height;
    // width: calc(#{$switch-button-height} * 2);
    // width: 8.1vw;
    width: 100%;
    //border: $switch-button-border-thickness solid $switch-button-color;
    // box-shadow: inset 0px 0px $switch-button-border-thickness 0px
    //   rgba(0, 0, 0, 0.33);
    border-radius: if($switch-is-rounded, $switch-button-height, 0);
    background: rgba(#fff, 0.3);

    transition: $switch-transition;

    $button-side-length: 36px;

    cursor: pointer;

    .button {
      position: absolute;
      height: $button-side-length;
      width: $button-side-length;
      border-radius: if($switch-is-rounded, $button-side-length, 0);
      background: $switch-button-color;

      transition: $switch-transition;
      vertical-align: middle;
      display: table-cell;
      right: 0;
      line-height: $button-side-length;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.disabled {
      pointer-events: none;
      .button {
        pointer-events: none;
      }
    }

    &.enabled {
      box-shadow: none;

      .button {
        right: unset;
        left: 0;
      }
    }
  }

  .switch-button-label {
    margin-left: 10px;
  }
}
</style>
