<template>
  <div
    class="patient-content"
    @mousedown="swipeStart"
    @touchstart="swipeStart"
    @mousemove="swipe"
    @touchmove="swipe"
    @mouseup="swipeEnd"
    @touchend="swipeEnd"
    @mouseleave="swipeEnd"
  >
    <AppLogo :colored="false" />

    <div
      class="patient-content__info"
      v-html="patientData.type.about.replace(/\n/gi, '<br>')"
    />

    <div class="patient-content__photo">
      <img :src="photoBigSrc" alt="user big photo" />
    </div>

    <div
      class="patient-content__note"
      v-html="patientData.type.note.replace(/\n/gi, '<br>')"
    />

    <!-- <div class="patient-content__warning">
      {{content.warning}}
    </div> -->

    <div :class="['patient-content__appropriate', `patient-content__appropriate--${showAppropriate ? 'opened': 'hidden'}`]">
      <div class="patient-content__swipe-area">
        <button @click="toggleAppropriate" class="patient-content__btn-swipe">
          {{ showAppropriate ? content.swipeDown : content.swipeUp }}
        </button>
      </div>

      <div class="patient-content__transition">
        <PatientAppropriate
          :name="patientName"
          :patientId="patientId"
          :titleModal="titleModal"
          :bodyModal="bodyModal"
          :enrolled="enrolled"
          :appropriates="patientData.type.appropriate"
          :patientData="patientData"
          :onShowModal="showModal"
        />
      </div>
    </div>

    <!-- modal -->
    <div id="portal-target" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop, Watch, Inject} from 'vue-property-decorator';
import PatientAppropriate from './PatientAppropriate.vue';
import AppLogo from '@/components/app/AppLogo.vue';
import { PatientData } from '../../../public/data/patients/types';

@Component({ components: { PatientAppropriate, AppLogo } })
export default class PatientContent extends Vue {
  @Prop({ required: true })
  readonly patientData!: PatientData;

  @Prop({ required: true })
  readonly showAppropriate!: boolean;

  @Prop({ required: true })
  readonly toggleAppropriate!: (value?: boolean) => void;
  @Inject('dataContent') private dataContent!: boolean;

  showModal = false;
  isSwipe = false;
  originSwipe = 0;
  delta = 0;
  swipeStart(e: any) {
    this.isSwipe = true;
    this.originSwipe = e.targetTouches ? e.targetTouches[0].pageY : e.clientY;
  }
  swipe(e: any) {
    const offsetY = e.targetTouches ? e.targetTouches[0].pageY : e.clientY;
    if (!this.isSwipe) return;
    this.delta = offsetY - this.originSwipe;
    if (this.delta > 0) {
      this.toggleAppropriate(false);
    } else if (this.delta < 0) {
      this.toggleAppropriate(true);
    }
    this.isSwipe = false;
  }
  swipeEnd() {
    this.isSwipe = false;
    this.delta = 0;
    this.originSwipe = 0;
  }

  get photoBigSrc() {
    // return this.patientData.patient.profile?.photo?.big || patientPhotoBig;
    return `./data/patients/${this.patientData.id}-big.png`;
  }

  get patientName() {
    return this.patientData.patient.profile?.name || 'Name';
  }
  get patientId() {
    return this.patientData.id;
  }

  get titleModal() {
    return this.patientData.type.titleModal;
  }

  get bodyModal() {
    return this.patientData.type.bodyModal;
  }

  get enrolled() {
    return this.patientData.type.enrolled;
  }
  get content() {
    return (this.dataContent as any)['patient'];
  }

  @Watch('showAppropriate')
  onShowAppropiate() {
    this.showModal = !this.showModal;
  }
}
</script>

<style lang="sass">
+b(patient-content)
  position: relative
  display: flex
  flex-direction: column
  flex-grow: 1
  padding: 20px 50px 20px 55px
  overflow: hidden
  +e(info)
    max-width: 54%
    margin-top: 105px
    color: white
    & > p
      margin-top: 35px
      margin-bottom: 0
      font-size: 20px
      font-weight: bold
      sup
        font-size: 10px
        line-height: 0

  +e(photo)
    position: absolute
    right: 0
    bottom: 0
    z-index: 10

    & > img
      width: auto
      height: 579px
      display: block
      margin: 5px -164px

  +e(appropriate)
    position: absolute
    right: 0
    bottom: 0
    left: 0
    z-index: 30
    transition: transform 0.5s ease

    +m(hidden)
      transform: translateY(calc(100% - 35px))
    +m(opened)
      transform: translateY(0)
  +e(transition)
    overflow: hidden
  .patient-appropriate-enter,
  .patient-appropriate-leave-to
    //margin-bottom: -100vh
    transition: transform 0.5s ease
    transform: translateY(-100%)

  .patient-appropriate-enter-to,
  .patient-appropriate-leave
    //margin-bottom: 0
    transition: transform 0.5s ease
    transform: translateY(0)


  +e(swipe-area)
    display: flex
    justify-content: flex-start
    height: 35px
    cursor: pointer
    border-bottom: 4px solid $colorBgBright
    &:after
      display: block
      content: ''
      flex-grow: 1
      height: inherit
      background-color: $colorBgBright
      clip-path: polygon(0 0, 35px 35px, 100% 35px, 100% 100%, 0 100%)

      margin-left: -1px
  +e(btn-swipe)
    align-items: center
    min-width: 250px
    height: inherit
    padding: 5px 20px 5px 55px
    background-color: $colorBgBright
    border: none
    color: #fff
    font-weight: 900
    font-size: 14.2px
    display: block
    margin: 0
    &:active,
    &:focus
      border: none
      outline: none
  +e(note)
    position: absolute
    left: 56px
    bottom: 45px
    z-index: 20
    width: 190px
    line-height: 1.2
    p
      color: #fff
      font-size: 10px
      letter-spacing: 0.2px

  +e(warning)
    position: absolute
    right: 10px
    bottom: 10px
    z-index: 20
    width: 250px
    padding: 10px 10px 15px
    color: white
    font-weight: bold
    font-size: 7.6px
    line-height: 1.4
    background-color: $colorBgPlaceholder
    letter-spacing: 0.1px
</style>
