<template>
  <div class="patient-sidebar">
    <PatientInfo :patientData="patientData" class="patient-sidebar__info" />
    <div class="patient-sidebar__actions">
      <!--      <AppSelectPatientButton v-on="$listeners" />-->

      <button @click="$emit('show-drawer')" class="patient-sidebar__btn-select">
        {{ content.buttonSelect }}
      </button>
      <router-link to="/build">
        <app-button
          class="patient-sidebar__btn-build"
        >
          {{ content.buttonBuild }}
        </app-button>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop, Inject} from 'vue-property-decorator';
import PatientInfo from './PatientInfo.vue';
import AppSelectPatientButton from '@/components/app/AppSelectPatientButton.vue';
import { PatientData } from '../../../public/data/patients/types';

@Component({
  components: {
    PatientInfo,
    AppSelectPatientButton,
  },
})
export default class PatientSidebar extends Vue {
  @Prop({ required: true })
  readonly patientData!: PatientData;

  @Prop({ required: true })
  readonly toggleAppropriate!: (value?: boolean) => void;
  @Inject('dataContent') private dataContent!: boolean;

  get content() {
    return (this.dataContent as any).home;
  }
}
</script>

<style lang="sass">
+b(patient-sidebar)
  display: flex
  flex-direction: column
  flex-shrink: 0
  justify-content: space-between
  width: 293px
  height: 768px
  padding: 20px 25px 75px 26px
  //border-right: 5px solid rgba(black, 0.05)
  background: url("~@/assets/images/ui/bg-sidebar-patient.png") no-repeat
  background-size: 100% 100%
  //box-shadow: 10px 5px 10px 0px rgba(#000,0.1)
  +e(btn-select)
    +btn
    background: $colorBase
    color: #fff
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    display: flex
    //margin-top: 20px
    padding: 6px 12px 6px 10px
    width: 100%

    &:after
      margin-left: auto
      display: block
      content: ''
      width: 15px
      height: 15px
      background: url('~@/assets/images/ui/icon-menu-white.png')
      background-size: 100% 100%
      margin-top: 3px
  +e(btn-build)
    +btn
    font-size: 18px
    text-transform: uppercase
    color: $colorBase
    font-weight: bold
    margin-top: 25px
    display: flex
    padding: 3px 12px 3px 10px
    border-bottom: 2px solid $colorBase
    width: 100%
    margin-bottom: 10px
    &:after
      margin-left: auto
      display: block
      content: ''
      width: 12px
      height: 20px
      background: url('~@/assets/images/ui/icon-arrow-right.png')
      background-size: 100% 100%
</style>
