<template>
  <div class="patient-appropriate">
    <div class="patient-appropriate__header">
      <h3>
        {{patientData.type.titleAppropriate}}
        <span>{{ name }}</span>
      </h3>
      <small v-if="!!patientData.type.labelAppropriate">
        {{ patientData.type.labelAppropriate }}
      </small>
    </div>

    <AppAppropriate
      :appropriate-data="appropriates"
      @show-graph="toggleModal(true, $event)"
    />
    <div class="component__footer-note" v-html="patientData.type.noteAppropriate"/>

    <AppModal
      v-if="showModal"
      @close-modal="toggleModal(false)"
      :paddings="['22px 18px']"
    >
      <div>
        <h4 class="patient-appropriate__modal-title" v-html="titleModal" />
        <img
          v-if="graph"
          :src="graphSrc"
          alt="graph"
          class="patient-appropriate__graph"
        />
        <p v-else>no graph</p>
        <div class="patient-appropriate__modal-body" v-html="bodyModal"></div>
      </div>
    </AppModal>
  </div>
</template>

<script lang="ts">
import {Vue, Prop, Component, Watch, Inject} from 'vue-property-decorator';
import AppAppropriate from '@/components/app/AppAppropriate.vue';
import AppModal from '@/components/app/AppModal.vue';
import { TAppropriate } from '../../../public/data/patients/types';
import { PatientData } from '../../../public/data/patients/types';


@Component({ components: { AppAppropriate, AppModal } })
export default class PatientAppropriate extends Vue {
  @Prop({ type: String, default: 'Name' })
  readonly name!: string;

  @Prop({ type: String, default: 'Name' })
  readonly patientId!: string;

  @Prop({ type: String, default: '' })
  readonly titleModal!: string;

  @Prop({ type: String, default: '' })
  readonly bodyModal!: string;

  @Prop({ type: String })
  readonly enrolled!: string;

  @Prop({ type: Array, required: true })
  readonly appropriates!: TAppropriate[];

  @Prop({ type: Object, required: true })
  readonly patientData!: PatientData;
  @Prop({ type: Boolean, required: true })
  readonly onShowModal!: PatientData;
  @Inject('dataContent') private dataContent!: boolean;

  showModal = false;
  graph = '';

  toggleModal(value: boolean, graph = ''): void {
    this.showModal = value;
    this.graph = graph;
  }
  get graphSrc() {
    return `./data/patients/${this.patientId}-graph.png`;
  }
  get content() {
    return (this.dataContent as any)['patient'];
  }
  @Watch('onShowModal')
  changedShowModal() {
    this.showModal = false;
  }
}
</script>

<style lang="sass">
+b(patient-appropriate)
  min-height: 575px
  padding: 20px 0 20px 44px
  background-color: $colorBgLight
  border-left: 6px solid #e9e9e9
  +e(header)
    display: flex
    align-items: flex-end
    margin-bottom: 10px
    h3
      flex-shrink: 0
      //width: 60%
      padding-right: 30px
      padding-left: 7px
      margin-top: 0
      letter-spacing: 0.8px
      line-height: 1.15
      white-space: pre-line
      span
        color: #625550
      //line-height: 1.1
    small
      color: #ababab
      font-weight: bold
      font-style: italic
      line-height: 1.2
      white-space: pre-line
      font-size: 11px
      position: relative
      right: -15px
  +e(graph)
    width: 600px
    margin-top: 5px
  +e(modal-title)
    margin: 10px 0 0 10px
    small
      font-size: 10px
  +e(modal-body)
    ul
      padding: 0
      margin: 0
      li
        background: url("~@/assets/images/ui/icon-arrow-right.png") no-repeat
        background-size: 10px 15px
        padding-left: 30px
        background-position: 10px 3px
        line-height: 1
        font-size: 12px
        padding-top: 5px
        margin-bottom: 5px
    p
      font-size: 12px
      margin: 10px 0 0 12px
      line-height: 1.1
  .component__footer-note
    bottom: 20px
    margin-left: 5px
</style>
