<template>
  <ul
    class="appropriate__list"
    :class="{ 'appropriate__list--horizontal': horizontal }"
  >
    <li
      v-for="(item, index) of appropriateData"
      :key="index"
      class="appropriate__item"
    >
      <AppAppropriateInfoCard
        :data="item"
        @show-graph="showGraph(item.graph)"
        :vertical="isVerticalInfo"
      />
    </li>
  </ul>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator';
import AppAppropriateInfoCard from './AppAppropriateInfoCard.vue';
import { TAppropriate } from '../../../public/data/patients/types';

@Component({ components: { AppAppropriateInfoCard } })
export default class AppAppropriate extends Vue {
  @Prop({ required: true })
  readonly appropriateData!: TAppropriate[];

  @Prop({ default: false })
  readonly horizontal!: boolean;
  @Emit()
  showGraph(graph: string | unknown): void {
    this.$emit('show-graph', graph);
  }

  get isVerticalInfo() {
    return this.horizontal;
  }
}
</script>

<style lang="sass" scoped>
+b(appropriate)
  +e(list)
    display: flex
    flex-direction: column
    padding: 0
    margin: 0 0 41px 0
    +m(horizontal)
      flex-direction: row
  +e(item)
    border-bottom: 1px solid $colorBorderMain
    &:last-child
      border-bottom: none
  +m(summary)
    //margin-top: 30px
    +e(list)
      width: 100%
</style>
