<template>
  <div
    class="app-info-card"
    :class="{
      'app-info-card--vertical': vertical,
      'app-info-card--important': showImportant,
    }"
  >
    <div class="app-info-card__quantity">
      <template v-if="data.type != 'house-plus'">
        <span class="app-info-card__measure">
          <span
            :class="[
              'app-info-card__direction',
              `app-info-card__direction--${data.upTo ? 'up' : 'down'}`,
            ]"
          >
            {{content.upTo}}
          </span>
          <span class="app-info-card__count">
            {{ data.count }}
          </span>
          <strong
            :class="[
              'app-info-card__unit',
              `app-info-card__unit--${data.unit !== '%' ? 'down' : 'up'}`,
            ]"
          >
            {{ data.unit }}
          </strong>
        </span>

        <span
          class="app-info-card__type"
          v-html="data.type.replace(/\n/gi, '<br>')"
        />
      </template>
      <div v-else class="app-info-card__house-plus"></div>
    </div>
    <div
      class="app-info-card__info"
      :class="{ 'app-info-card__info--bg': showImportant }"
    >
      <template>
        <span
          v-html="title.replace(/\n/gi, '<br>')"
          class="app-info-card__title"
        />
        <p
          class="app-info-card__description"
          v-html="description.replace(/\n/gi, '<br>')"
        />
      </template>
    </div>

    <div
      v-if="data.type != 'house-plus'"
      class="app-info-card__actions"
      :class="{ 'app-info-card__actions--bg': showImportant }"
      @click="showImportant = !showImportant"
    >
      <div v-if="!showImportant" class="app-info-card__action">
        <span>{{content.whyImportant}}</span>
        <span class="app-info-card__sign">&plus;</span>
      </div>

      <div v-else class="app-info-card__action app-info-card__action--close">
        <span>{{content.close}}</span>
        <span class="app-info-card__sign">&times;</span>
      </div>

      <div
        @click.stop="showGraph"
        v-if="data.graph"
        class="app-info-card__action"
      >
        <span>{{content.seeGraph}}</span>
        <span class="app-info-card__sign">&plus;</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop, Watch, Inject} from 'vue-property-decorator';
import { TAppropriate } from '../../../public/data/patients/types';

@Component
export default class AppAppropriateInfoCard extends Vue {
  @Prop({ type: Boolean, default: false }) readonly vertical!: boolean;
  @Prop({ type: Object, required: true }) readonly data!: TAppropriate;
  @Inject('dataContent') private dataContent!: boolean;

  showImportant = false;

  showGraph() {
    this.$emit('show-graph');
  }

  get description() {
    const type = this.showImportant ? 'important' : 'default';
    return this.data.info[type].description;
  }
  get title() {
    const type = this.showImportant ? 'important' : 'default';
    return this.data.info[type].title;
  }
  get content() {
    return (this.dataContent as any)['patient'];
  }
  @Watch('data')
  onNewData() {
    this.showImportant = false;
  }
}
</script>

<style lang="sass" scoped>
+b(app-info-card)
  display: flex
  //flex-direction: row
  //height: 100px
  align-items: stretch

  +e(quantity)
    display: flex
    flex-direction: column
    flex-shrink: 0
    width: 210px
    padding: 20px 0


  +e(direction)
    font-size: 13px
    color: $colorFontColored
    background-position: 0 100%
    padding-bottom: 45px
    background-size: 100% calc(100% - 25px)
    background-repeat: no-repeat
    width: 43px
    margin-left: 5px
    +m(down)
      background-image: url("~@/assets/images/ui/icon-arrow-double.png")
    +m(up)
      background-image: url("~@/assets/images/ui/icon-arrow-double-up.png")

  +e(measure)
    display: flex
    align-items: flex-end


  +e(count)
    display: block
    font-weight: bold
    font-size: 60px
    line-height: 1
    color: $colorFontColored
    margin: 0 0 0 5px
    position: relative
    top: 5px
    letter-spacing: -2.1px
  +e(unit)
    line-height: 1
    font-size: 30px
    color: $colorFontColored
    position: relative

    +m(up)
      align-self: flex-start
      top: 20px

    +m(down)
      align-self: flex-end
  +e(type)
    font-size: 20px
    font-weight: bold
    color: $colorFontColored
    padding-left: 5px
  +e(info)
    display: flex
    flex-direction: column
    //flex-grow: 1
    justify-content: center
    width: 325px

    +m(bg)
      .app-info-card__title
        line-height: 1.1
        margin-top: 10px
      .app-info-card__description
        margin-top: 5px
      //background-color: rgba(black, 0.05)

  +e(title)
    color: $colorBgMain
    font-weight: bold
    //display: flex
    //align-items: center
    //sub
      line-height: 0
  +e(description)
    line-height: 1.3
    margin-top: 23px
    sup
      line-height: 0
  +e(actions)
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20px 0 20px 25px
    width: 146px
    +m(bg)
      background-color: rgba(black, 0.1)

  +e(action)
    display: flex
    align-items: flex-end
    justify-content: space-between
    width: 90px
    //height: 60px
    background-color: transparent
    border: none
    color: $colorFontMain
    border-bottom: 1px solid $colorFontMain
    cursor: pointer
    line-height: 1.2
    padding-bottom: 5px
    font-weight: bold
    &:nth-child(2)
      margin-top: 10px

  +e(sign)
    color: orange
    font-weight: bold
    margin-right: 5px
  +e(house-plus)
    background: url("~@/assets/images/ui/icon-house-plus.png")
    background-size: cover
    width: 120px
    height: 61px
    margin: 15px 0 25px
  +m(vertical)
    //flex-direction: column
    display: block
    //flex-wrap: wrap
    //align-items: initial
    height: auto
    position: relative
    +e(direction)
      margin-left: 0
      width: 38px
      padding-bottom: 40px
      margin-bottom: 5px
    +e(quantity)
      flex-direction: row
      align-items: flex-end
      width: 100%
      padding: 10px 15px 0 20px
      .app-info-card--important &
        display: none
    +e(count)
      margin-left: 0
    +e(type)
      font-size: 19px
      white-space: normal
      margin-left: 10px
      padding-left: 0
    +e(description)
      margin-top: 8px
      margin-bottom: 5px
      height: 80px
    +e(info)
      padding: 5px 20px
      width: 100%
      +m(bg)
        padding-top: 35px
        .app-info-card__description
          margin-top: 5px
    +e(actions)
      flex-direction: row
      justify-content: flex-start
      padding: 0 20px 17px 20px
      width: 100%
      +m(bg)
        //position: absolute
        //bottom: 0
        //right: 0
        //left: 0
        height: 65px
        padding-bottom: 20px
        margin-top: auto
    +e(action)
      width: auto
      height: auto
      margin-right: 10px
      &:nth-child(2)
        margin-top: 0
      +m(close)
        .app-info-card__sign
          margin-left: 20px
    +e(sign)
      margin-left: 10px
  +m(summary)
    +e(quantity)
      padding: 0px 0 14px 40px
      width: 247px
    +e(info)
      width: 565px
      padding-left: 10px
      padding-right: 60px
      padding-bottom: 10px

      +m(bg)
        background: #f5f4f3
    //+e(actions)
      margin-left: 75px
    +e(title)
      line-height: 1.3
      margin-top: auto
    +e(description)
      margin-top: 0
      margin-bottom: auto

.app-info-card--important.app-info-card--vertical
  .app-info-card__quantity
    display: none
</style>

<style lang="sass">
.app-info-card__description
  sup
    line-height: 0
    font-size: 10px
.app-info-card__title
  sub
    //line-height: 0
    margin-top: auto
    font-size: 8px
</style>
