<template>
  <div class="app-drawer" @click="hideDrawer($event)">
    <div class="app-drawer__content">
      <ul class="app-drawer__list">
        <li
          v-for="(item, i) of data"
          :key="i"
          @click="hideDrawer($event)"
          class="app-drawer__item"
        >
          <router-link
            :to="{ name: 'Patient', params: { typeId: item.id } }"
            class="app-drawer__link"
            v-html="item.title"
          >
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Mixins } from 'vue-property-decorator';
import { AppDataMixin } from '@/essences/appData.mixin';
const appLang = process.env.VUE_APP_LANG;
const PATIENTS = require('@/data/' + appLang + '/patients.json');
@Component
export default class AppDrawer extends Mixins(AppDataMixin) {
  data = PATIENTS;
  @Emit()
  hideDrawer(event: Event) {
    const hide =
      (event.target as HTMLElement).className === 'app-drawer' ||
      (event.target as HTMLElement).closest('.app-drawer__item');

    if (hide) {
      this.$emit('hide-drawer');
    }
  }
}
</script>

<style lang="sass">
+b(app-drawer)
  position: fixed
  z-index: 100
  width: 100%
  height: inherit
  height: 768px
  background-color: rgba(black, 0.2)
  cursor: pointer
  +e(content)
    width: 293px
    height: inherit
    padding: 0 41px 0 44px
    cursor: auto
    background: url("~@/assets/images/ui/bg-sidebar-patient.png") no-repeat
    background-size: 100% 100%
    box-shadow: 10px 5px 10px 0px rgba(#000,0.1)

  +e(list)
    padding: 0
    margin: 0
  +e(item)
    display: flex
    align-items: center
    padding: 25px 0
    border-bottom: 2px solid rgba(#776b66, 0.25)
    cursor: pointer

    &:last-child
      border-bottom: none

  +e(link)
    display: flex
    flex-grow: 1
    align-items: center
    justify-content: space-between
    font-weight: bold
    font-size: 20px
    position: relative
    &:after
      margin-left: auto
      display: block
      content: ''
      width: 10px
      height: 15px
      background: url('~@/assets/images/ui/icon-arrow-right.png')
      background-size: 100% 100%
      position: absolute
      right: 0
      top: 50%
      margin-top: -7px
    small
      margin-right: auto
      margin-top: auto
      margin-bottom: -5px
      //font-size: 10px
      //height: 15px
  +e(icon)
    margin-right: 10px
    color: orange
</style>
