<template>
  <div class="app-logo" :class="{ 'app-logo--left': left }">
    <router-link to="/">
      <img :src="logoSrc" alt="company logo" class="app-logo__image" />
    </router-link>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import logo from '@/assets/images/app/logo.png';
import logoColored from '@/assets/images/app/logo_colored.png';

@Component
export default class AppLogo extends Vue {
  @Prop({ type: Boolean, default: true })
  readonly colored!: boolean;

  @Prop({ type: Boolean, default: false })
  readonly left!: boolean;

  get logoSrc() {
    return this.colored ? logoColored : logo;
  }
}
</script>

<style lang="sass" scoped>
+b(app-logo)
  position: absolute
  top: 22px
  right: 22px
  z-index: 10
  +e(image)
    width: 150px

  +m(left)
    right: initial
    left: 42px
    +e(image)
      width: 170px
</style>
