<template>
  <Portal selector="#portal-target">
    <div :class="['app-modal', design]" :style="{ padding: modalPaddings }">
      <div class="app-modal__wrapper">
        <button @click="closeModal" class="app-modal__close">&times;</button>
        <div class="app-modal__content">
          <slot></slot>
        </div>
      </div>
    </div>
  </Portal>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator';
//@ts-ignore
import { Portal } from '@linusborg/vue-simple-portal';

@Component({ components: { Portal } })
export default class AppModal extends Vue {
  // @Prop({ type: Function })
  // readonly closeHandler!: () => void;

  @Prop({ type: Array })
  readonly paddings!: string[];

  @Prop({ type: String })
  readonly design!: string;

  get modalPaddings(): string {
    return this.paddings.join(' ');
  }

  @Emit()
  closeModal() {
    this.$emit('close-modal');
  }
}
</script>

<style lang="sass">
+b(app-modal)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 99
  background-color: rgba(black, 0.5)
  +e(wrapper)
    position: relative
    height: 100%
    padding: 30px
    //background-color: white
    background: url("~@/assets/images/ui/bg-modal.png")
    background-repeat: no-repeat
    background-size: 100% 100%
    background-color: #fff

  +e(close)
    position: absolute
    top: 15px
    right: 15px
    color: orange
    font-size: 0
    width: 20px
    height: 20px
    border: none
    cursor: pointer
    z-index: 15
    padding: 0
    background-color: transparent
    background-image: url("~@/assets/images/ui/icon-close.png")
    background-size: 100% 100%

  +e(content)
    height: 100%
  +m(home)
    //+e(close)
    //  top: -5px
    //  right: 0
    +e(wrapper)
      padding: 30px 40px 0 40px
      background-image: url("~@/assets/images/ui/bg-modal-home.png")
  +m(builder)
    //left: 410px
    //background: none
    +e(content)
      margin-top: 40px
    +e(wrapper)
      padding: 30px 40px 0 40px
      background-image: url("~@/assets/images/ui/bg-modal-home.png")
</style>
