<template>
  <nav class="app-navigation">
    <ul class="app-navigation__list">
      <li v-for="item of routes" :key="item.title" class="app-navigation__item">
        <router-link
          :to="item.to"
          :exact="!!item.exact"
          :class="[
            'app-navigation__link',
            'app-navigation__link--type-' + item.to.substring(1),
          ]"
          active-class="app-navigation__link--active"
        >
          {{ item.title }}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
const appLang = process.env.VUE_APP_LANG;

@Component
export default class AppNavbar extends Vue {
  routes = require('@/data/' + appLang + '/main-nav.json');
}
</script>

<style lang="sass" scoped>
+b(app-navigation)
  position: absolute
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  display: flex
  align-items: center
  height: var(--navbar-height)
  padding: 10px
  background-image: linear-gradient(to right, $colorBgMain 50%, $colorBgAccent)
  box-shadow: 0 0 30px rgba($colorBgBlack, 0.4)

  +e(list)
    display: flex
    flex: 1
    padding: 0
    margin: 0
    flex-grow: 1
    align-items: center
    //justify-content: space-between
    justify-content: stretch
    height: 100%


  +e(item)
    //display: flex
    //align-items: center
    //justify-content: center
    width: 100%
    //height: 100%
    //flex: 1
    border-right: 1px solid rgba($colorBorderLight, 0.3)

    &:last-child
      border-right: none
      width: auto

  +e(link)
    color: $colorFontLight
    font-size: 12px
    display: block
    text-align: center
    word-break: keep-all
    white-space: nowrap
    padding: 10px 33px
    +m(type-)
      display: flex
      padding-right: 15px
      padding-left: 15px

      &:after
        display: block
        content: ''
        width: 20px
        height: 20px
        background: url("~@/assets/images/ui/icon-home.png") 100% 100%
        background-size: 100% 100%
    +m(active)
      opacity: 0.6
      //text-decoration: underline
</style>
