<template>
  <div class="app-page-header">
    <h1
      class="app-page-header__text"
      :class="{ 'app-page-header__text--colored': colored }"
    >
      <slot></slot>
    </h1>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class AppPageHeader extends Vue {
  @Prop({ default: true }) readonly colored!: boolean;
}
</script>

<style lang="scss" scoped>
.app-page-header {
  display: flex;
  align-items: flex-start;
  min-height: 75px;
  margin-bottom: 20px;
}

.app-page-header__text {
  max-width: 83%;
  color: $colorFontLight;
  font-size: 27.5px;
  line-height: 1.1;
  margin-top: 10px;
  text-transform: uppercase;
  white-space: pre-line;
  &--colored {
    color: $colorFontColored;
  }
  & > sup {
    font-size: pxToRem(14);
  }
}
</style>
