<template>
  <div v-if="enabled" class="reference">
    <img v-if="visible" class="reference" :src="img" />
  </div>
</template>

<script>
export default {
  mounted() {
    window.addEventListener('keydown', (ev) => {
      if (ev.key === 'r' && ev.altKey) {
        this.visible = !this.visible;
      }

      if (!this.visible) {
        return;
      }

      if (ev.key === 'ArrowRight') {
        try {
          const image = require(`!!file-loader!@/assets/images/refs/ref-${
            this.idx + 1
          }.png`);

          if (image === undefined) {
            this.refsCount = this.idx;
          }
        } catch (e) {
          this.refsCount = this.idx;
        }

        if (this.idx < this.refsCount) {
          this.idx++;
        }
      } else if (ev.key === 'ArrowLeft') {
        if (this.idx > 1) {
          this.idx--;
        }
      }
    });
  },

  data() {
    return {
      visible: false,
      idx: 1,
      refsCount: 100,
      enabled: process.env.NODE_ENV === 'development',
    };
  },

  computed: {
    img() {
      try {
        return require(`!!file-loader!@/assets/images/refs/ref-${this.idx}.png`);
      } catch (error) {
        console.error('Cannot find ref image');

        return undefined;
      }
    },
  },
};
</script>

<style>
.reference {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  opacity: 0.4;
}
</style>
