<template>
  <div>
    <Controls
      :state="state"
      v-model="model"
      @findOut="onFindOutClicked"
      @changeInputs="onChangeInputsClicked"
      @colorChange="onColorChange"
      @onDataChanged="onDataChanged"
      @drag-start="onDragSliderStart"
    />
  </div>
</template>

<script>
import Controls from '@/components/builder/Controls';
import * as Patient from '@/graphics/patient';

export default {
  name: 'Builder',
  components: { Controls },
  data() {
    return {
      model: {
        data: Patient.data,
      },
      state: {
        showDupixentIndicated: false,
        showPatientResultSelector: false,
        showChangeInputsButton: false,
        showPatientInfo: false,
        patientNumber: 0,
        showModal: false,
        showControls: false,
        type: 0,
        advancedInfoState: {
          visible: false,
          patientNumber: 0,
        },
      },
    };
  },
  methods: {
    onFindOutClicked() {
      // Result
    },
    onChangeInputsClicked() {
      // Rebuild
    },
    onColorChange() {
      // Rebuild
    },
    onDataChanged() {
      // Rebuild
    },
    onDragSliderStart() {
      // Rebuild
    },
  },
};
</script>
