<template>
  <div class="patient-page">
    <template v-if="patientData">
      <PatientSidebar
        :patientData="patientData"
        v-on="$listeners"
        :toggleAppropriate="toggleAppropriate"
      />
      <PatientContent
        :patientData="patientData"
        :toggleAppropriate="toggleAppropriate"
        :showAppropriate="showAppropriate"
      />
    </template>

    <p v-else><b>Patient not found.</b> Redirect to home page after 1 sec</p>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Watch } from 'vue-property-decorator';
import PatientSidebar from '@/components/patient/PatientSidebar.vue';
import PatientContent from '@/components/patient/PatientContent.vue';
import { AppDataMixin } from '@/essences/appData.mixin';
import { PatientData } from '../../public/data/patients/types';

@Component({ components: { PatientSidebar, PatientContent } })
export default class Patient extends Mixins(AppDataMixin) {
  showAppropriate = false;
  showModal = false;

  get typeId(): string | number {
    return this.$route.params.typeId;
  }

  get patientData(): PatientData | undefined {
    return (this.$data.patients as PatientData[]).find(
      (item) => item.id === this.typeId
    );
  }

  @Watch('patientData')
  onPatientDataChanged(data: PatientData): void {
    if (!data) {
      setTimeout(() => this.$router.push('/patient'), 1000);
    }
  }

  toggleAppropriate(value?: boolean): void {
    if (!value ?? true) {
      this.showAppropriate = false;
    } else {
      this.showAppropriate = !this.showAppropriate;
    }
  }
  @Watch('$route')
  onRouteChange() {
    this.showAppropriate = false;
    this.showModal = false;
  }
}
</script>

<style lang="sass" scoped>
+b(patient-page)
  display: flex
  height: inherit
  background: url("~@/assets/images/ui/bg-main-patient.png") no-repeat
  background-size: 100% 100%
  height: 768px
  padding-bottom: 55px
</style>
