<template>
  <div class="prescribing-page">
    <AppLogo />
    <AppPageHeader> {{ content.pageHeader }} </AppPageHeader>

    <div class="prescribing-page__content">
      <div class="prescribing-page__content__col">
        <p style="text-align: center; margin: 0px 0px 0px">
          <img :src="`./img/prescribing/Dupixent_API_Asthma_Page_1.jpg`" />
        </p>
        <p
          style="
            font-size: 7px;
            line-height: 8px;
            text-align: justify;
            margin: 0px 0px 0px;
          "
        >
          Dupixent (Dupilumab) 300 mg Pre-filled Syringe - Therapeutic
          indications Atopic Dermatitis: Dupixent is indicated for the treatment
          of moderate-to-severe atopic dermatitis in adults and adolescents 12
          years and older who are candidates for systemic therapy. Asthma
          Dupixent is indicated in adults and adolescents 12 years and older as
          add-on maintenance treatment for severe asthma with type 2
          inflammation characterized by raised blood eosinophils and/or raised
          FeNO, who are inadequately controlled with high dose ICS plus another
          medicinal pr oduct for maintenance treatment. Chronic Rhinosinusitis
          with nasal polyps (CRSwNP) Dupixent is indicated as an add-on therapy
          with intranasal corticosteroids for the treatment of adults with
          severe CRSwNP for whom therapy with systemic corticosteroids and/or
          surgery do not provide adequate disease control. Posology and method
          of administration Treatment should be initiated by healthcare
          professionals experienced in the diagnosis and treatment of conditions
          for which dupilumab is indicated. Dupixent (Dupilumab) 200 mg
          Pre-filled Syringe - Therapeutic indications: Atopic Dermatitis:
          Dupixent is indicated for the treatment of moderate-to-severe atopic
          dermatitis in adolescents 12-17 years who are candidates for systemic
          therapy. Asthma Dupixent is indicated in adults and adolescents 12
          years and older as add-on maintenance treatment for severe asthma with
          type 2 inflammation characterized by raised blood eosinophils and/or
          raised FeNO, who are inadequately controlled with high dose ICS plus
          another medicinal product for maintenance treatment. Posology Atopic
          Dermatitis:The recommended dose of dupilumab for adult patients is an
          initial dose of 600 mg (two 300 mg injections), followed by 300 mg
          given every other week administered as subcutaneous injection. The
          recommended dose of dupilumab for adolescent patients: •Body Weight of
          Patient less than 60 kg is an initial dose of 400 mg (two 200 mg
          injections), followed by 200 mg given every other week administered as
          subcutaneous injection• Body Weight of Patient 60 kg or more is an
          initial dose of 600 mg (two 300 mg injections), followed by 300 mg
          given every other week administered as subcutaneous injection.
          Dupilumab can be used with or without topical corticosteroids. Topical
          calcineurin inhibitors may be used, but should be reserved for problem
          areas only, such as the face, neck, intertriginous and genital areas.
          Consideration should be given to discontinuing treatment in patients
          who have shown no response after 16 weeks of treatment for atopic
          dermatitis. Some patients with initial partial response may
          subsequently improve with continued treatment beyond 16 weeks. If
          dupilumab treatment interruption becomes necessary, patients can still
          be successfully re-treated. Asthma: The recommended dose of dupilumab
          for adults and adolescents (12 years of age and older) is: • For
          patients with severe asthma and who are on oral corticosteroids or for
          patients with severe asthma and co-morbid moderate-to-severe atopic
          dermatitis, an initial dose of 600 mg (two 300 mg injections),
          followed by 300 mg every other week administered as subcutaneous
          injection. • For all other patients, an initial dose of 400 mg (two
          200 mg injections), followed by 200 mg every other week administered
          as subcutaneous injection. Patients receiving concomitant oral
          corticosteroids may reduce their steroid dose once clinical
          improvement with dupilumab has occurred Steroid reductions should be
          accomplished gradually Dupilumab is intended for long-term treatment.
          The need for continued therapy should be considered at least on an
          annual basis as determined by physician assessment of the patient’s
          level of asthma. For patients with CRSwNP the recommended dose of
          dupilumab for adult patients is an initial dose of 300 mg followed by
          300 mg given every other week.Dupilumab is intended for long-term
          treatment. Consideration should be given to discontinuing treatment in
          patients who have shown no response after 24 weeks of treatment for
          CRSwNP. Some patients with initial partial response may subsequently.
          Method of administration subcutaneous use. Dupilumab is administered
          by subcutaneous injection into the thigh or abdomen, except for the 5
          cm around the navel. If somebody else administers the injection, the
          upper arm can also be used. For the initial 600 mg dose, two 300 mg
          injections should be administered consecutively in different injection
          sites. It is recommended to rotate the injection site with each
          injection. Dupilumab should not be injected into skin that is tender,
          damaged or has bruises or scars. A patient may self-inject dupilumab
          or the patient's caregiver may administer dupilumab if their
          healthcare professional determines that this is appropriate. Proper
          training should be provided to patients and/or caregivers on the
          preparation and administration of dupilumab prior to use according to
          the Instructions for Use (IFU) section in the package leaflet. Special
          warnings and precautions for use: Dupilumab should not be used to
          treat acute asthma symptoms or acute exacerbations. Dupilumab should
          not be used to treat acute bronchospasm or status asthmaticus.
          Systemic, topical, or inhaled corticosteroids should not be
          discontinued abruptly upon initiation of therapy with dupilumab.
          Reductions in corticosteroid dose, if appropriate, should be gradual
          and performed under the direct supervision of a physician. Reduction
          in corticosteroid dose may be associated with systemic withdrawal
          symptoms and/or unmask conditions previously suppressed by systemic
          corticosteroid therapy. Biomarkers of type 2 inflammation may be
          suppressed by systemic corticosteroid use. This should be taken into
          consideration to determine type 2 status in patients taking oral
          corticosteroids (kindly refer to the full SmPC for this section).
          Fertility, pregnancy and lactation Pregnancy There are limited amount
          of data from the use of dupilumab in pregnant women. Animal studies do
          not indicate direct or indirect harmful effects with respect to
          reproductive toxicity. Dupilumab should be used during pregnancy only
          if the potential benefit justifies the potential risk to the foetus.
          Breast-feeding It is unknown whether dupilumab is excreted in human
          milk or absorbed systemically after ingestion. A decision must be made
          whether to discontinue breast-feeding or to discontinue dupilumab
          therapy taking into account the benefit of breast feeding for the
          child and the benefit of therapy for the woman. Fertility Animal
          studies showed no impairment of fertility Undesirable effects Atopic
          dermatitis Summary of the safety profile the most common adverse
          reactions were injection site reactions, conjunctivitis, blepharitis,
          and oral herpes. Adolescents with atopic dermatitis Summary of the
          safety profile: The safety of dupilumab was assessed in a study of 250
          patients 12 to 17 years of age with moderate-to-severe atopic
          dermatitis (AD-1526).. The long-term safety profile of Dupilumab
          observed in adolescents was consistent with that seen in adults with
          atopic dermatitis. Asthma Asthma Summary of the safety profile most
          common adverse reaction was injection site erythema. Anaphylactic
          reaction has been reported very rarely in the asthma development
          program (see section 4.4). In DRI12544 and QUEST studies, the
          proportion of patients who discontinued treatment due to adverse
          events was 4.3% of the placebo group, 3.2% of the dupilumab 200 mg Q2W
          group, and 6.1% of the dupilumab 300 mg Q2W group. Overdose There is
          no specific treatment for dupilumab overdose. In the event of
          overdosage, monitor the patient for any signs or symptoms of adverse
          reactions and institute appropriate symptomatic treatment immediately.
          In CRSwNP the most common adverse reactions were injection site
          reaction and injection site swelling, conjunctivitis and eosinophilia.
          In the safety pool, the proportion of patients who discontinued
          treatment due to adverse events was 2.0% of the dupilumab 300 mg Q2W
          group and 4.6% of the placebo group. For the full prescribing
          information kindly refer to the full SmPC dated October 2019.
        </p>
      </div>
      <div class="prescribing-page__content__col">
        <p style="text-align: center; margin: 0px 0px 0px">
          <img :src="`./img/prescribing/Dupixent_API_Asthma_Page_2.jpg`" />
        </p>
        <p
          style="
            font-size: 7px;
            line-height: 8px;
            text-align: justify;
            margin: 0px 0px 0px;
          "
        >
          Dupixent (Dupilumab 300 mg) Pre-filled Syringe - Therapeutic
          indications: Atopic Dermatitis: Dupixent is indicated for the
          treatment of moderate-to-severe atopic dermatitis in adults and
          adolescents 12 years and older who are candidates for systemic therapy
          and for the treatment of severe atopic dermatitis in children 6 to 11
          years old who are candidates for systemic therapy. Asthma Dupixent is
          indicated in adults and adolescents 12 years and older as add-on
          maintenance treatment for severe asthma with type 2 inflammation
          characterized by raised blood eosinophils and/or raised FeNO, who are
          inadequately controlled with high dose ICS plus another medicinal
          product for maintenance treatment. Chronic Rhinosinusitis with nasal
          polyps (CRSwNP) Dupixent is indicated as an add-on therapy with
          intranasal corticosteroids for the treatment of adults with severe
          CRSwNP for whom therapy with systemic corticosteroids and/or surgery
          do not provide adequate disease control. Posology and method of
          administration Treatment should be initiated by healthcare
          professionals experienced in the diagnosis and treatment of conditions
          for which dupilumab is indicated. Dupixent (Dupilumab) 200 mg
          Pre-filled Syringe - Therapeutic indications: Atopic Dermatitis:
          Dupixent is indicated for the treatment of moderate-to-severe atopic
          dermatitis in adolescents 12-17 years and for the treatment of severe
          atopic dermatitis in children 6 to 11 years old who are candidates for
          systemic therapy. Asthma Dupixent is indicated in adults and
          adolescents 12 years and older as add-on maintenance treatment for
          severe asthma with type 2 inflammation characterized by raised blood
          eosinophils and/or raised FeNO, who are inadequately controlled with
          high dose ICS plus another medicinal product for maintenance
          treatment. Posology Atopic Dermatitis:The recommended dose of
          dupilumab for adult patients is an initial dose of 600 mg (two 300 mg
          injections), followed by 300 mg given every other week administered as
          subcutaneous injection. The recommended dose of dupilumab for
          adolescent patients: •Body Weight of Patient less than 60 kg is an
          initial dose of 400 mg (two 200 mg injections), followed by 200 mg
          given every other week administered as subcutaneous injection• Body
          Weight of Patient 60 kg or more is an initial dose of 600 mg (two 300
          mg injections), followed by 300 mg given every other week administered
          as subcutaneous injection. The recommended dose of dupilumab for
          children 6 to 11 years patients: •Body Weight of Patient 15 kg to less
          than 60 kg is an initial dose of 300 mg (one 300 mg injection) on Day
          1, followed by 300 mg on Day 15, with subsequent doses of 300 mg every
          4 weeks (Q4W)*, starting 4 weeks after Day 15 dose, (the dose may be
          increased to 200 mg Q2W in patients with body weight of 15 kg to less
          than 60 kg based on physician's assessment). • Body Weight of Patient
          60 kg or more is an initial dose of 600 mg (two 300 mg injections)
          followed by 300 mg every other week (Q2W) administered as subcutaneous
          injection Dupilumab can be used with or without topical
          corticosteroids. Topical calcineurin inhibitors may be used, but
          should be reserved for problem areas only, such as the face, neck,
          intertriginous and genital areas. Consideration should be given to
          discontinuing treatment in patients who have shown no response after
          16 weeks of treatment for atopic dermatitis. Some patients with
          initial partial response may subsequently improve with continued
          treatment beyond 16 weeks. If dupilumab treatment interruption becomes
          necessary, patients can still be successfully re-treated. Asthma: The
          recommended dose of dupilumab for adults and adolescents (12 years of
          age and older) is: • For patients with severe asthma and who are on
          oral corticosteroids or for patients with severe asthma and co-morbid
          moderate-to-severe atopic dermatitis, an initial dose of 600 mg (two
          300 mg injections), followed by 300 mg every other week administered
          as subcutaneous injection. • For all other patients, an initial dose
          of 400 mg (two 200 mg injections), followed by 200 mg every other week
          administered as subcutaneous injection. Patients receiving concomitant
          oral corticosteroids may reduce their steroid dose once clinical
          improvement with dupilumab has occurred Steroid reductions should be
          accomplished gradually Dupilumab is intended for long-term treatment.
          The need for continued therapy should be considered at least on an
          annual basis as determined by physician assessment of the patient’s
          level of asthma. For patients with CRSwNP the recommended dose of
          dupilumab for adult patients is an initial dose of 300 mg followed by
          300 mg given every other week.Dupilumab is intended for long-term
          treatment. Consideration should be given to discontinuing treatment in
          patients who have shown no response after 24 weeks of treatment for
          CRSwNP. Some patients with initial partial response may subsequently.
          Method of administration: subcutaneous use. Dupilumab is administered
          by subcutaneous injection into the thigh or abdomen, except for the 5
          cm around the navel. If somebody else administers the injection, the
          upper arm can also be used. For the initial 600 mg dose, two 300 mg
          injections should be administered consecutively in different injection
          sites. It is recommended to rotate the injection site with each
          injection. Dupilumab should not be injected into skin that is tender,
          damaged or has bruises or scars. A patient may self-inject dupilumab
          or the patient's caregiver may administer dupilumab if their
          healthcare professional determines that this is appropriate. Proper
          training should be provided to patients and/or caregivers on the
          preparation and administration of dupilumab prior to use according to
          the Instructions for Use (IFU) section in the package leaflet. Special
          warnings and precautions for use: Dupilumab should not be used to
          treat acute asthma symptoms or acute exacerbations. Dupilumab should
          not be used to treat acute bronchospasm or status asthmaticus.
          Systemic, topical, or inhaled corticosteroids should not be
          discontinued abruptly upon initiation of therapy with dupilumab.
          Reductions in corticosteroid dose, if appropriate, should be gradual
          and performed under the direct supervision of a physician. Reduction
          in corticosteroid dose may be associated with systemic withdrawal
          symptoms and/or unmask conditions previously suppressed by systemic
          corticosteroid therapy. Biomarkers of type 2 inflammation may be
          suppressed by systemic corticosteroid use. This should be taken into
          consideration to determine type 2 status in patients taking oral
          corticosteroids (kindly refer to the full SmPC for this section).
          Fertility, pregnancy and lactation: Pregnancy There are limited amount
          of data from the use of dupilumab in pregnant women. Animal studies do
          not indicate direct or indirect harmful effects with respect to
          reproductive toxicity. Dupilumab should be used during pregnancy only
          if the potential benefit justifies the potential risk to the foetus.
          Breast-feeding It is unknown whether dupilumab is excreted in human
          milk or absorbed systemically after ingestion. A decision must be made
          whether to discontinue breast-feeding or to discontinue dupilumab
          therapy taking into account the benefit of breast feeding for the
          child and the benefit of therapy for the woman. Fertility Animal
          studies showed no impairment of fertility Undesirable effects Atopic
          dermatitis Summary of the safety profile the most common adverse
          reactions were injection site reactions, conjunctivitis, blepharitis,
          and oral herpes. Adolescents with atopic dermatitis Summary of the
          safety profile: The safety of dupilumab was assessed in a study of 250
          patients 12 to 17 years of age with moderate-to-severe atopic
          dermatitis (AD-1526). Paediatric patients with atopic dermatitis (6 to
          11 years of age) Summary of the safety profile: The safety of
          dupilumab was assessed in a trial of 367 patients 6 to 11 years of age
          with severe atopic dermatitis (AD-1652). The safety profile of
          dupilumab + TCS in these patients through week 16 was similar to the
          safety profile from studies in adults and adolescents with atopic
          dermatitis. The long-term safety profile of dupilumab observed in
          children and adolescents was consistent with that seen in adults with
          atopic dermatitis. Asthma Asthma Summary of the safety profile most
          common adverse reaction was injection site erythema. Anaphylactic
          reaction has been reported very rarely in the asthma development
          program (see section 4.4). In DRI12544 and QUEST studies, the
          proportion of patients who discontinued treatment due to adverse
          events was 4.3% of the placebo group, 3.2% of the dupilumab 200 mg Q2W
          group, and 6.1% of the dupilumab 300 mg Q2W group. Overdose There is
          no specific treatment for dupilumab overdose. In the event of
          overdosage, monitor the patient for any signs or symptoms of adverse
          reactions and institute appropriate symptomatic treatment immediately.
          In CRSwNP the most common adverse reactions were injection site
          reaction and injection site swelling, conjunctivitis and eosinophilia.
          In the safety pool, the proportion of patients who discontinued
          treatment due to adverse events was 2.0% of the dupilumab 300 mg Q2W
          group and 4.6% of the placebo group. For the full prescribing
          information kindly refer to the SmPC last dated October 2020.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Inject } from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';
import AppLogo from '@/components/app/AppLogo.vue';

@Component({
  components: { AppPageHeader, AppLogo },
})
export default class PrescribingInformation extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  get content() {
    return (this.dataContent as any)['prescribingInfo'];
  }
}
</script>

<style lang="sass">
+b(prescribing-page)
  display: flex
  flex-direction: column
  height: inherit
  padding: 15px 25px
  +e(content)
    display: flex
    +e(col):nth-child(1)
      padding: 0px 5px 0px 0px
    +e(col):nth-child(2)
      padding: 0px 0px 0px 5px
    +e(col)
      width: 50%
      img
        height: 87px
</style>

<style scoped>
.app-page-header {
  min-height: auto !important;
  margin-bottom: 10px !important;
}
</style>
