<template>
  <div class="references-page">
    <AppLogo />
    <div class="references-page__image-wrapper">
      <img
        alt="a clear path to asthma control"
        class="references-page__image"
        :src="`./img/${content.hero}`"
      />
      <!--      <h6 class="references-page__sub-header" v-html="content.pageSubheader" />-->
      <!--      <h1 class="references-page__header" v-html="content.pageHeader" />-->
      <p class="references-page__message">
        <span>
          <span v-html="content.pageContent.title" />
        </span>
        <span />
      </p>
    </div>

    <div class="references-page__info">
      <div class="references-page__refs">
        <p v-html="content.pageContent.body" />
      </div>

      <img
        class="references-page__logo"
        alt="logo"
        :src="`./img/${content.pageFooter.logo}`"
      />
      <div class="references-page__note" v-html="content.pageFooter.note" />

      
     

    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppLogo from '@/components/app/AppLogo.vue';

@Component({ components: { AppLogo } })
export default class References extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  get content() {
    return (this.dataContent as any)['references'];
  }
}
</script>

<style lang="sass" scoped>
+b(references-page)
  position: relative
  display: flex
  flex-direction: column
  height: inherit
  z-index: 10
  +e(image-wrapper)
    position: relative
    z-index: -1
  +e(image)
    display: block
    width: 100%
    height: 430px
    object-fit: cover
    object-position: 0 0
  +e(sub-header)
    position: absolute
    left: 290px
    top: 15px
    top: 50%
    left: 50%
    margin-top: -170px
    margin-left: -240px
    font-size: 10px
    font-weight: normal
    white-space: pre-line
  +e(header)
    position: absolute
    left: 290px
    top: 135px
    font-size: 28px
    font-weight: normal
    white-space: pre-line
    text-transform: uppercase


  +e(message)
    position: absolute
    right: 0
    bottom: 0
    left: 0
    display: flex
    width: 100%
    height: 40px
    color: $colorFontLight
    font-size: 20px
    margin-bottom: 0

    & > span:first-of-type
      display: flex
      align-items: center
      padding: 5px 30px
      background-image: linear-gradient(to right, #01a77e, #54ba65)


    & > span:last-of-type
      flex-grow: 1
      height: 40px
      background-image: linear-gradient(to right, #54ba65, #8ac655)
      clip-path: polygon(0% 0%, 33px 33px, 100% 33px, 100% 100%, 0% 100%)

      margin-left: -1px
  +e(info)
    display: flex
    flex-direction: column
    flex-grow: 1
    padding: 5px 25px

  +e(refs)
    position: relative
    display: flex
    align-items: center
    justify-content: center
    
    p
      font-size: 8px
      line-height: 1.3

  +e(logo)
    margin-bottom: 10px
    width: 150px
   
  +e(note)
    white-space: pre-line
    font-size: 8px
    line-height: 1.0
    margin-top: 0px
</style>
