<template>
  <div class="safety-data-page">
    <AppLogo />
    <AppPageHeader> {{ content.pageHeader }} </AppPageHeader>

    <h3 class="safety-data-page__subheader">{{ content.pageSubHeader }}</h3>

    <table class="safety-data-page__table">
      <tr v-for="(row, i) in tableContent" :key="i" v-html="getColumns(row)" />
    </table>

    <h2 class="safety-data-page__patients-count" v-html="content.pageFooter" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppLogo from '@/components/app/AppLogo.vue';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

type TTableColumn = {
  attr: string;
  text: string;
};

@Component({ components: { AppLogo, AppPageHeader } })
export default class SafetyData extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  get content() {
    return (this.dataContent as any)['safetyData'];
  }
  get tableContent() {
    return this.content.pageContent.body;
  }

  getColumns(row: ReadonlyArray<string | TTableColumn>) {
    return row
      .map((column, i) => {
        if (column === null) return '';
        if (typeof column === 'object')
          return `<td ${column.attr} class="table__col-${i}">${column.text}</td>`;
        return `<td class="table__col-${i}">${column}</td>`;
      })
      .join(' ');
  }
}
</script>

<!-- common -->
<style lang="sass">
+b(safety-data-page)
  padding: 45px 25px 15px
  .app-page-header
    min-height: auto
  +e(subheader)
    margin-top: 35px

  +e(table)
    margin-top: 50px
    margin-bottom: 10px
    border-collapse: collapse
    width: 755px
    border-bottom: 5px solid $colorBase
    td
      padding: 6px 13px

      font-size: 16px
    tr:first-child
      td
        border-right: 2px solid #fff
        border-bottom: 2px solid #fff
        color: #fff
        text-transform: uppercase
        padding: 13px 13px 12px
        font-weight: bold
      td:first-child
        background-color: $colorBgBright

      td:nth-child(2)
        background-image: linear-gradient(to right, #00aa7c 50%, #1bb370)
      td:nth-child(3)
        background-image: linear-gradient(to right, #1cb370 50%, #93c951)
    tr:not(:first-child)
      .table__col-0
        background: #f5f4f3
        border-bottom: 2px solid #fff

      .table__col-1,
      .table__col-2
        border-bottom: 2px solid #e1dddb

      .table__col-2
        border-left: 2px solid #e1dddb
    .table__col-0
      width: 252px
      font-weight: bold
      color: $colorBase
    .table__col-1
      width: 250px

  +e(patients-count)
    color: $colorBgMain
    border-left: 5px solid $colorBgBright
    padding: 5px 15px
    vertical-align: middle
    white-space: pre-line
    font-size: 20px
    margin-top: 45px
    line-height: 0.9
    sup
      font-size: 14px
</style>
