<template>
  <div class="study-design-page">
    <AppLogo />
    <AppPageHeader> {{ content.pageHeader }} </AppPageHeader>

    <h3 class="study-design-page__subheader">{{ content.pageSubHeader }}</h3>
    <div class="study-design-page__content">
      <img
        v-for="(item, i) of content.pageContent.body.images"
        :src="`./img/${item}`"
        alt=""
        :key="i"
      />
      <p>{{ content.pageContent.body.text }}</p>
    </div>
    <div class="study-design-page__note" v-html="content.note" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppLogo from '@/components/app/AppLogo.vue';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppLogo, AppPageHeader } })
export default class StudyDesign extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  get content() {
    return (this.dataContent as any)['study'];
  }
}
</script>

<style lang="sass">
+b(study-design-page)
  padding: 15px 25px
  +e(header)
  +e(subheader)
    margin-top: 30px
  +e(content)
    margin: 20px 0 0 27px
    img
      width: 580px
      display: block
      margin: 5px auto 0
    p
      font-size: 8.5px
      text-align: center
  +e(note)
    white-space: pre-line
    font-size: 10px
    line-height: 1.3
    margin-top: 10px
    margin-bottom: 0
    position: absolute
    bottom: 10px
    sup
      font-size: 6px

      line-height: 0
</style>
