<template>
  <div class="summary-page">
    <AppLogo />
    <AppPageHeader> {{ content.pageHeader }} </AppPageHeader>

    <div class="summary-page__content">
      <div class="summary-page__tabs">
        <h6 class="summary-page__tabs-label">{{ content.content.select }}</h6>
        <button
          :class="[
            'summary-page__tabs-btn',
            tabActive === 'appropriate1' ? 'is-active' : '',
          ]"
          @click="tabActive = 'appropriate1'"
        >
          {{ content.content.appropriate1 }}
        </button>
        <button
          :class="[
            'summary-page__tabs-btn',
            tabActive === 'appropriate2' ? 'is-active' : '',
          ]"
          @click="tabActive = 'appropriate2'"
        >
          {{ content.content.appropriate2 }}
        </button>
      </div>
      <h3 class="summary-page__title" v-html="content.pageSubHeader" />
      <div
        class="summary-page__summary appropriate--summary app-info-card--summary"
      >
        <AppAppropriate :appropriate-data="appropriateData" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppLogo from '@/components/app/AppLogo.vue';
import AppAppropriate from '@/components/app/AppAppropriate.vue';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppLogo, AppAppropriate, AppPageHeader } })
export default class SummaryPage extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  tabActive = 'appropriate1';
  get appropriateData() {
    return (this.content.content.body as any)[this.tabActive];
  }
  get content() {
    return (this.dataContent as any)['summary'];
  }
}
</script>

<style lang="sass" scoped>
+b(summary-page)
  padding: 15px 25px
  +e(content)
    padding-right: 35px
    margin-top: 30px
  +e(item)
    display: flex
    align-items: center
    height: 100px
    border-top: 1px solid $colorBorderMain

    & > span:first-of-type
      width: 150px

    & > span:last-of-type
      padding: 20px
      color: $colorFontColored
      font-weight: bold
  +e(tabs)
    float: right
    display: flex
  +e(tabs-label)
    margin-top: 3px
    margin-right: 20px
    &:after
      content: ":"
  +e(tabs-btn)
    background: none
    border: none
    outline: none
    font-size: 20px
    color: $colorFontMain
    border-bottom: 1px solid $colorFontMain
    font-weight: bold
    padding: 1px 0
    margin: 0 12px
    &.is-active
      color: $colorBase
  +e(summary)
    margin-top: 20px
</style>
