<template>
  <div class="types-page types-page--2">
    <AppLogo />
    <TypesCarousel />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import AppLogo from '@/components/app/AppLogo.vue';
import TypesCarousel from '@/components/type2asthma/TypesCarousel.vue';

@Component({ components: { TypesCarousel, AppLogo } })
export default class Type2Asthma extends Vue {}
</script>

<style lang="scss">
.types-page {
  position: relative;
  height: inherit;
  padding: 15px 25px;
  overflow: hidden;
}
.types-page--2{
  .type-affects .component__footer-note{
    display: none;
  }
  .type-role .type-role__small span{
    display: none;
  }
  .type-therapy .component__footer-note{
    display: none;
  }
}
</style>
