=vr-fz($font-size: $font-size-base / 1px, $inverse: false, $margin: "normal", $important: false)
  $important-inject: if($important, !important, ())
  $font-size-em: $font-size / ($font-size-base / 1px)
  $height-em: ($font-size-base / 1px) * $line-height-base / $font-size
  font-size: $font-size-em + em + $important-inject
  line-height: $height-em * ceil($font-size/(($font-size-base / 1px) * $line-height-base)) + em + $important-inject
  @if $margin == "sticky"
    $height-em: 0
  @else if $margin == "double"
    $height-em: $height-em * 2
  @else if $margin == "triple"
    $height-em: $height-em * 3

  @if ($inverse)
    margin-bottom: $height-em + em
    margin-top: 0
  @else
    margin-top: $height-em + em
    margin-bottom: 0

=fz($font-size: $font-size-base / 1px)
  $font-size-em: $font-size / ($font-size-base / 1px)
  font-size: $font-size-em + em
