<template>
  <div class="type-affects">
    <AppPageHeader>
      {{ content.pageHeader
      }}<sup v-if="content.pageHeaderSuffix">{{
        content.pageHeaderSuffix
      }}</sup>
    </AppPageHeader>
    <div class="type-affects__content">
      <div class="type-affects__symptoms symptoms">
        <h3 class="type-affects__title" v-html="symptoms.title" />
        <ul class="symptoms__list">
          <li
            v-for="(item, index) of symptoms.body"
            :key="index"
            class="symptoms__item"
          >
            {{ item }}
          </li>
        </ul>
      </div>

      <div class="type-affects__lead lead">
        <h3 class="type-affects__title" v-html="consequences.title" />
        <ul class="lead__list">
          <li
            v-for="(item, index) of consequences.body"
            :key="index"
            class="lead__item"
          >
            <img
              :src="`./img/consequence/${index}.png`"
              :alt="item"
              class="lead__icon"
            />
            <span class="lead__text">{{ item }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="component__footer-note" v-html="content.pageFooter" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';


@Component({ components: { AppPageHeader } })
export default class Affects extends Vue {
  @Inject('dataContent') private dataContent!: boolean;
  symptoms = (this.dataContent as any)['type2asthma'].affects.pageContent.symptoms;
  consequences = (this.dataContent as any)['type2asthma'].affects.pageContent.consequences;
  content: any = (this.dataContent as any)['type2asthma'].affects;
}
</script>

<!-- common -->
<style lang="scss">
.type-affects__content {
  display: flex;

  & > :first-child {
    border-right: 1px solid $colorBorderMain;
  }
}

.type-affects__title {
  //margin-bottom: 20px;
  margin-top: 10px;
  letter-spacing: 0.8px;

  @at-root .home-page & {
    letter-spacing: unset;
  }
  sup {
    font-size: 10px;
    line-height: 0;
  }
}
</style>

<!-- symptoms-->
<style lang="sass" scoped>
+b(symptoms)
  width: 50%
  padding-right: 40px
  +e(list)
    padding: 0 0 0 10px
    margin: 27px 0 0
    @at-root .home-page &
      margin-top: 45px
  +e(item)
    display: flex
    align-items: flex-start
    margin-bottom: 6px
    line-height: 1.3
    &::before
      width: 4px
      height: 4px
      margin-right: 8px
      background-color: $colorBgMain
      border-radius: 4px
      content: ''
      margin-top: 9px
</style>

<!-- lead -->
<style lang="sass" scoped>
+b(lead)
  width: 50%
  padding-left: 40px
  //padding-right: 20px
  .type-affects__title
    padding-right: 20px
  +e(list)
    display: flex
    flex-wrap: wrap
    margin: 55px 35px 0 0
    padding: 0
    @at-root .home-page &
      margin-top: 45px
  +e(item)
    display: flex
    align-items: center
    width: 50%
    margin-bottom: 40px
    padding-right: 15px
    &:nth-child(2n)
      padding-right: 30px

    @at-root .home-page &
      margin-bottom: 19px
      &:nth-child(2n)
        padding-right: 10px
  +e(icon)
    margin-right: 10px
    background-color: #635650
    border-radius: 50%
    width: 45px
    height: 45px
  +e(text)
    line-height: 1.2
    //font-size: 12px

    @at-root .home-page &
      padding-left: 5px
</style>
