<template>
  <div class="type-role">
    <AppPageHeader>
      {{ content.pageHeader }}
    </AppPageHeader>

    <div class="type-role__content">
      <div class="type-role__info">
        <img :src="`./img/icon-role.png`" class="type-role__img" />
        <div class="type-role__info-title" v-html="content.pageSubHeader" />
      </div>

      <div class="type-role__phenotypes phenotypes">
        <h3 class="phenotypes__title" v-html="content.pageContent.title" />

        <ul class="phenotypes__list">
          <li
            v-for="(item, index) of phenotypes"
            :key="index"
            class="phenotypes__item"
          >
            <h4 class="phenotypes__subtitle">{{ item.title }}</h4>
            <span class="phenotypes__text">{{ item.description }}</span>
            <img
              :src="`./img/role/${index}.png`"
              :alt="item.title"
              class="phenotypes__img"
            />
          </li>
        </ul>
      </div>

      <h3 class="phenotypes__footer" v-html="content.pageContent.subTitle" />
      <div class="type-role__small" v-html="content.pageContent.pageFooter" />
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppPageHeader } })
export default class Role extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  phenotypes = (this.dataContent as any)['type2asthma'].role.pageContent.body;
  content = (this.dataContent as any)['type2asthma'].role;
}
</script>

<!-- common -->
<style lang="scss">
.type-role {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.type-role__img {
  width: 110px;
  //margin-left: 5px;
  align-items: center;
  .home-page & {
    width: 70px;
  }
}
.type-role__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.type-role__info {
  //margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-top: -15px;
}
.type-role__info-title {
  margin: -30px 0 0 30px;
  font-size: 18px;
  .app-modal--home & {
    margin-top: -5px;
  }
  strong {
    color: $colorBase;
  }
  sup {
    font-size: 10px;
  }
}

.type-role__phenotypes {
  max-width: 87%;
  margin: 0 auto;
  margin-bottom: 20px;
  .home-page & {
    max-width: none;
  }
}

.type-role__small {
  margin-top: auto;
  font-size: 10px;
  line-height: 1;
  margin-bottom: 10px;
  .home-page & {
    margin-top: 20px;
  }
}
</style>

<!-- phenotypes -->
<style lang="scss">
.phenotypes {
  margin-top: 5px;
  padding: 28px 33px 43px;
  box-shadow: 0 0 20px $colorBgActive;
  .home-page & {
    box-shadow: none;
    padding: 30px 0 0;

  }
}

.phenotypes__title {
  //margin-bottom: 20px;
  margin-top: 0;
  sup{
    line-height: 0;
    font-size:  10px;
  }
}

.phenotypes__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 40px 0 0;
  .home-page & {
    margin: 35px 0 0;

  }
}

.phenotypes__item {
  display: flex;
  //flex: 1;
  width: 220px;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  border-right: 1px solid $colorBorderMain;

  &:last-of-type {
    border-right: none;
  }
  &:nth-child(2) {
    width: 340px;
    .phenotypes__img {
      width: 110px;
      .home-page & {
        width: 90px;
      }
    }
    .home-page & {
      width: 260px;
    }
  }
}

.phenotypes__subtitle {
  margin-top: -4px;
  color: $colorFontColored;
  text-transform: uppercase;
  text-align: center;
}

.phenotypes__text {
  margin-top: 10px;
  text-align: center;
  white-space: pre-line;
}

.phenotypes__img {
  width: 80px;
  margin-top: 20px;
  .home-page & {
    width: 60px;
  }
}
.phenotypes__footer {
  max-width: 87%;
  margin: 10px auto 0;
  line-height: 1.2;
  .home-page & {
    max-width: none;
  }
  sup{
    line-height: 0;
    font-size:  10px;
  }
}
</style>
