<template>
  <div class="type-therapy">
    <AppPageHeader>
      {{ title }}
    </AppPageHeader>

    <div class="type-therapy__content">
      <h3 class="type-therapy__title" v-html="content.pageSubHeader" />

      <ul class="type-therapy__list">
        <li
          v-for="(item, index) of inflammations"
          :key="index"
          class="type-therapy__item"
        >
          <div class="type-therapy__type">
            <span>
              <img
              :src="`./img/therapy/${index}.png`"
              width="100%"  
            /> 
            </span>
            <span v-html="item" />
          </div>
          <small v-if="index < inflammations.length - 1">
            {{ content.pageContent.and }}
          </small>
        </li>
      </ul>
      <div class="type-therapy__actions">
        <button @click="$emit('show-drawer')" class="type-therapy__btn-select">
          {{ text.buttonSelect }}
        </button>
        <app-button
          @click="$emit('close-modal')"
          class="type-therapy__btn-build"
        >
          {{ text.buttonBuild }}
        </app-button>
      </div>
    </div>
    <div class="component__footer-note" v-html="content.pageFooter" />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop, Inject} from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppPageHeader } })
export default class Therapy extends Vue {
  @Prop({ default: false })
  readonly isModal!: boolean;
  @Inject('dataContent') private dataContent!: boolean;

  inflammations = (this.dataContent as any)['type2asthma'].therapy.pageContent.body;
  content: any = (this.dataContent as any)['type2asthma'].therapy;

  get text() {
    return (this.dataContent as any).home;
  }
  get title() {
    return this.isModal ? this.content.pageHeader : this.content.pageHeader1;
  }
}
</script>

<style lang="sass">
+b(type-therapy)
  display: flex
  flex-direction: column
  height: inherit
  position: relative
  +e(content)
    display: flex
    flex-direction: column
    flex-grow: 1
  +e(title)
    margin-top: 10px
    .app-modal--home &
      margin-top: 5px
    sup
      line-height: 0
      font-size:  10px

  +e(list)
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 550px
    margin: auto
    padding: 0
    margin-top: 120px
    padding-left: 25px
    .app-modal--home &
      max-width: none
      margin-top: 55px
      margin-bottom: 0
      padding-top: 0
      padding-left: 0
      flex-wrap: nowrap
      justify-content: space-between
  +e(item)
    display: flex
    margin: 0 0 55px 12px
    width: 142px

    & > small
      margin-top: 20px
      font-size: 10px
      margin-left: 12px

    .app-modal--home &
      width: 148px
      &:first-child
        margin-left: 0

  +e(type)
    display: flex
    flex-direction: column
    align-items: center

    & > span:first-of-type
      width: 62px
      height: 62px
      margin-bottom: 20px
      border: 3px solid $colorBorderColored

    & > span:last-of-type
      width: 100px
      font-weight: bold
      text-align: center
      line-height: 1.2
  +e(actions)
    display: none
    margin: 50px auto 0
    width: 231px
    .app-modal--home &
      display: block
  +e(btn-select)
    +btn
    background: $colorBase
    color: #fff
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    display: flex
    //margin-top: 20px
    padding: 6px 10px 6px
    width: 100%

    &:after
      margin-left: auto
      display: block
      content: ''
      width: 15px
      height: 15px
      background: url('~@/assets/images/ui/icon-menu-white.png')
      background-size: 100% 100%
      margin-top: 3px
  +e(btn-build)
    +btn
    font-size: 18px
    text-transform: uppercase
    color: $colorBase
    font-weight: bold
    margin-top: 27px
    display: flex
    padding: 3px 10px 3px
    border-bottom: 2px solid $colorBase
    width: 100%
    margin-bottom: 10px
    &:after
      margin-left: auto
      display: block
      content: ''
      width: 12px
      height: 20px
      background: url('~@/assets/images/ui/icon-arrow-right.png')
      background-size: 100% 100%
  .component__footer-note
    width: 100%
</style>
