<template>
  <div id="app" :class="{ 'is-loading': isLoading }">
    <!--    <div id="build_version">ver. {{ appVersion }}</div>-->
    <div class="page-content">
      <transition name="fade" mode="out-in">
        <AppDrawer v-if="isDrawer" @hide-drawer="toggleDrawer(false)" />
      </transition>
      <scene
        @inited="onSceneInited"
        ref="myscene"
        :isShowBuilder="showBuilderSidebar"
        :isPlayScene="playScene"
      />
      <AppPage
        :class="{
          'app-page--bg': !isScenePage,
        }"
        @show-drawer="toggleDrawer(true)"
        @controls-values="onControlValues"
        @reset-values="onResetValues"
        @state-builder="(state) => (this.showBuilderSidebar = state)"
      />
    </div>
    <AppNavbar />
    <ReferenceOverlay />

    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch, Provide } from 'vue-property-decorator';
import Scene from '@/graphics/Scene.vue';
import AppNavbar from '@/components/app/AppNavbar.vue';
import AppDrawer from '@/components/app/AppDrawer.vue';
import AppPage from '@/components/app/AppPage.vue';
import ReferenceOverlay from '@/components/misc/ReferenceOverlay.vue';
import { data as patientData, BioData, resetValues } from '@/graphics/patient';

const appLang = process.env.VUE_APP_LANG;
const CONTENT = require('@/data/' + appLang + '/content.json');

@Component({
  components: {
    AppNavbar,
    AppDrawer,
    AppPage,
    ReferenceOverlay,
    Scene: () => import('@/graphics/Scene.vue'),
  },
})
export default class App extends Vue {
  @Provide('patientData') private patientData: BioData = patientData;
  @Provide('showBuilderSidebar') private showBuilderSidebar = false;
  @Provide('dataContent') private dataContent = CONTENT;

  isDrawer = false;

  isLoading = true;
  controlsValues = {};
  playScene = false;
  appVersion = process.env.VUE_APP_VERSION;
  mounted() {
    console.log('ttt', appLang, this.dataContent);
  }
  get isPatientPage() {
    return this.$route.name === 'Patient';
  }

  onControlValues(data: any) {
    // this.controlsValues = data;
    (this.$refs.myscene as Scene).onDataChanged(data);
  }

  onResetValues(animated: boolean) {
    (this.$refs.myscene as Scene).initStartValues(animated);
    resetValues(this.patientData);
    this.showBuilderSidebar = false;
  }

  toggleDrawer(flag: boolean): void {
    this.isDrawer = flag;
  }

  onSceneInited() {
    this.isLoading = false;
    this.playScene = true;
  }
  get isScenePage() {
    return ['Build', 'Home'].indexOf((this.$route as any).name) > -1;
  }

  @Watch('isPatientPage')
  onPatientPageChange(status: boolean) {
    if (!status) this.toggleDrawer(false);
  }

  @Watch('$route')
  onRouteChange(to: any, from: any) {
    this.toggleDrawer(false);

    const willPlayScene = to.name === 'Build' || to.name === 'Home';

    if (from.name === 'Build' || from.name === 'Home') {
      this.onResetValues(willPlayScene);
      this.showBuilderSidebar = false;
    }

    setTimeout(
      () => {
        const willPlayScene =
          this.$route.name === 'Build' || this.$route.name === 'Home';
        this.playScene = willPlayScene;
      },
      willPlayScene ? 0 : 1000
    );
  }
}
</script>

<style lang="scss">
@import './assets/styles';
body {
  font-family: 'Ubuntu', Arial;
  background: $colorBgMain;
}
#build_version {
  position: absolute;
  right: 1%;
  color: white;
}
#app {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  &.is-loading {
    background: $colorBgMain;
    .lds-ring {
      display: block;
    }
  }
}
.lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
  margin: -40px 0 0 -40px;
}
.page-content,
.app-navigation {
  transition: opacity 300ms;
}
.is-loading {
  .page-content,
  .app-navigation {
    opacity: 0;
  }
}
.page-content {
  display: flex;
  height: calc(768px - var(--navbar-height));
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
