<template>
  <div class="dosing-carousel">
    <VueAgile :infinite="false" :fade="false">
      <div class="slide"><Schedule /></div>
      <div class="slide"><Dupixent /></div>

      <template slot="prevButton">
        <span class="dosing-carousel__arrow">&#10094;</span>
      </template>
      <template slot="nextButton">
        <span class="dosing-carousel__arrow">&#10095;</span>
      </template>
    </VueAgile>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
//@ts-ignore
import { VueAgile } from 'vue-agile';
import Dupixent from './Dupixent.vue';
import Schedule from './Schedule.vue';

@Component({
  components: { VueAgile, Dupixent, Schedule },
})
export default class DosingCarousel extends Vue {}
</script>

<style lang="scss">
.dosing-carousel {
  height: 590px;

  & .agile {
    height: inherit;

    &__list,
    &__track,
    &__slides,
    &__slide {
      height: inherit;
    }
  }

  & .agile__actions {
    //position: absolute;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //display: flex;
    //align-items: center;
  }

  & .agile__nav-button {
    width: 40px;
    //height: 40px;
    height: 100%;
    position: absolute;
    font-size: pxToRem(30);
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 0;
    }

    &--prev {
      margin-left: -30px;
      left: 0;
      .dosing-carousel__arrow {
        background-image: url('~@/assets/images/ui/icon-brand-arrow-left.png');
        background-repeat: no-repeat;
      }
      //.icon-brand-arrow-right.png
    }

    &--next {
      margin-right: -30px;
      right: 0;
      .dosing-carousel__arrow {
        background-image: url('~@/assets/images/ui/icon-brand-arrow-right.png');
        background-repeat: no-repeat;
      }
    }
  }

  & .agile__dots {
    //align-self: flex-end;
    //margin-bottom: 80px;
    width: 100%;
    justify-content: center;
    //position: relative;
    //top: -35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .app-modal--home & {
      bottom: -25px;
    }
  }

  & .agile__dot {
    margin: 0 8px;

    & button {
      width: 13px;
      height: 13px;
      background-color: $colorBgActive;
      border: none;
      border-radius: 50%;
    }

    &--current button {
      background-color: $colorBgMain;
    }
  }

  & .dosing-carousel__arrow {
    color: transparent;
    width: 13px;
    height: 21px;
    display: block;
    background-size: 100% 100%;
  }
}
</style>
