<template>
  <div class="component component--dupixent">
    <h3 class="component__title" v-html="content.title" />
      <div class="component__item" v-for="(item, i) of content.body" :key="i">
        <h4 class="component__subtitle">{{ item.title }}</h4>
        <ul class="ul component__list">
          <li v-for="(elem, j) of item.body" :key="j">{{ elem }}</li>
        </ul>
        <img src="" alt="" />
        <img
          :src="`./img/${item.img}`"
          :alt="item.title"
          class="component__img"
        />
      </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Inject } from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppPageHeader } })
export default class Dupixent extends Vue {
  @Inject('dataContent') private dataContent!: boolean;
  get content() {
    return (this.dataContent as any)['dosing'].dupixent.pageContent;
  }
}
</script>

<!-- common -->
<style lang="sass">
+b(component)
  +m(dupixent)

    +e(title)
    +e(content)
      margin-top: 0
      display: flex
    +e(item)
      width: 100%
      &:nth-child(1)
        .component__img
          margin-left: 45px
          margin-top: -15px
    +e(subtitle)
      margin-top: 25px
      padding-left: 44px
      color: $colorBase
    +e(list)

      margin: 20px 0 0 45px
    +e(img)
      width: 800px
      margin-top: -91px
      margin-left: 116px

</style>
