<template>
  <div class="component component--schedule">
    <h3 class="component__title" v-html="content.title" />
    <div class="component__content">
      <div class="component__row" v-for="(item, i) of schedules" :key="i">
        <div class="component__row-content">
          <div class="component__param">
            <div class="component__param-label">{{ item.initialDose }}</div>
            <div class="component__param-value">{{ item.initialValue }}</div>
          </div>
          <div class="component__row-middle">
            <h5 class="component__row-title">{{ item.title }}</h5>
            <h6 class="component__row-subtitle" v-html="item.subTitle" />
            <span class="component__row-info" v-html="item.initialInfo" />
            <div class="component__bar">{{ item.interval }}</div>
          </div>
          <div class="component__param">
            <div class="component__param-label">{{ item.finalDose }}</div>
            <div class="component__param-value">{{ item.finalValue }}</div>
          </div>
        </div>
      </div>
      <div class="component__details">
        <h3
          class="component__title component__title--footer"
          v-html="content.footerTitle"
        />
        <ul class="ul component__list">
          <li v-for="(item, i) of content.list" :key="i">{{ item }}</li>
        </ul>
      </div>
      <div class="component__note" v-html="content.note" />
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppPageHeader } })
export default class Dupixent extends Vue {
  @Inject('dataContent') private dataContent!: boolean;
  get content() {
    return (this.dataContent as any)['dosing'].schedule.pageContent;
  }
  get schedules() {
    return this.content.schedules;
  }
}
</script>

<!-- common -->
<style lang="sass">
+b(component)
  +m(schedule)
    +e(title)
      +m(footer)
        width: 400px
        margin-top: 30px
    +e(content)
      margin-top: 40px
    +e(row)
      margin-bottom: 5px
      &:not(:first-of-type)
        .component__param-value
          color: $colorBgBright
    +e(row-content)
      display: flex
    +e(row-middle)
      text-align: center
      width: 631px
      position: relative
      margin-right: -5px
    +e(row-title)
      font-size: 18px
      font-weight: 400
      margin-top: 0
      padding-left: 100px
    +e(row-subtitle)
      font-size: 12px
      font-weight: 400
      margin-top: 0
      white-space: pre-line
      line-height: 1
      padding-left: 100px
      sup
        line-height: 0
        font-size: 8px
    +e(row-info)
      position: absolute
      bottom: 0
      left: 0
      font-size: 10px
    +e(bar)
      background: #f5f4f3
      position: absolute
      bottom: 26px
      left: 0
      right: 0
      height: 40px
      text-align: center
      text-transform: uppercase
      font-weight: bold
      padding-left: 100px
      padding-top: 7px
    +e(param)
    +e(param-label)
      text-align: center
      text-transform: uppercase
      margin-top: 20px
      font-weight: bold
    +e(param-value)
      margin-top: 2px
      color: $colorBase
      border: 6px solid
      border-radius: 50%
      width: 93px
      height: 93px
      display: flex
      align-items: center
      justify-content: center
      font-weight: bold
      font-size: 19px
      position: relative
      z-index: 5
      &:before
        display: block
        content: ''
        position: absolute
        left: 82px
        width: 92px
        height: 40px
        background-color: currentColor
      &:after
        border-width: 20px
        border-style: solid
        border-top-color: transparent
        border-right-color: transparent
        border-bottom-color: transparent
        display: block
        content: ''
        position: absolute
        left: 173px
        top: 21px
  +e(details)
    display: flex
  +e(list)
    padding: 0
    margin: 32px 0 0 38px
    //li
      //display: flex
      position: relative
      padding-left: 15px
      line-height: 1.2
      margin-bottom: 10px
      white-space: pre-line
      &:before
        content: ''
        border-radius: 50%
        width: 4px
        height: 4px
        background: $colorBase
        position: absolute
        left: 0
        top: 5px
  +e(note)
    white-space: pre-line
    font-size: 10px
    line-height: 1.1
    margin-top: 20px
</style>
