+b(agile)
  height: inherit
  &__list,
  &__track,
  &__slides,
  &__slide
    height: inherit

  +e(actions)
    //position: absolute;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //display: flex;
    //align-items: center;

  +e(nav-button)
    width: 40px
    //height: 40px
    height: 100%
    position: absolute
    font-size: pxToRem(30)
    top: 0
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    align-items: center
    &:disabled
      opacity: 0
    +m(prev)
      margin-left: -30px
      left: 0
      justify-content: flex-end
      //.dosing-carousel__arrow
      //  background-image: url('~@/assets/images/ui/icon-brand-arrow-left.png')
      //  background-repeat: no-repeat

    +m(next)
      margin-right: -30px
      right: 0
      justify-content: flex-start
      //.dosing-carousel__arrow
      //  background-image: url('~@/assets/images/ui/icon-brand-arrow-right.png')
      //  background-repeat: no-repeat

  +e(dots)
    //align-self: flex-end;
    //margin-bottom: 80px;
    width: 100%
    justify-content: center
    //position: relative
    //top: -35px
    position: absolute
    bottom: 0
    left: 0
    right: 0

  +e(dot)
    margin: 0 8px
    button
      width: 13px
      height: 13px
      background-color: $colorBgActive
      border: none
      border-radius: 50%


    +m(current)
      button
        background-color: $colorBgMain
