+b(ul)
  li
    //display: flex
    position: relative
    padding-left: 15px
    line-height: 1.2
    margin-bottom: 10px
    white-space: pre-line
    &:before
      content: ''
      border-radius: 50%
      width: 4px
      height: 4px
      background: $colorBase
      position: absolute
      left: 0
      top: 5px
