/* colors */
$colorBase: #00a880;
// background
$colorBgCommon: #fdfdfd;
$colorBgMain: $colorBase;
$colorBgAccent: #96ca50;
$colorBgBright: #fdb414;
$colorBgActive: #e3e2e0;
$colorBgLight: #f3f2f0;
$colorBgPlaceholder: #fd01fc;
$colorBgWhite: #ffffff;
$colorBgBlack: #000000;

// font
$colorFontMain: #625550;
$colorFontLight: #fcfcfc;
$colorFontColored: #009b77;
$colorFontPlaceholder: #fb43fc;
$colorFontWhite: #ffffff;
$colorFontBlack: #000000;

// border
$colorBorderMain: #d5d3d2;
$colorBorderLight: #fdfdfd;
$colorBorderColored: #01a77e;
$colorBorderPlaceholder: #fb43fc;
$colorBorderWhite: #ffffff;
$colorBorderBlack: #000000;

/* fonts */
// family
$fontCommon: "Ubuntu", sans-serif;

// size
// value in px
// use only w/ interpolation or function pxToRem
$fontSizeCommon: 14;

/* images */

/* misc */
$navbarHeight: 50px;

:root {
  --navbar-height: 55px;
  --drawer-width: 100px;
}
$font-size-base: 14px;
$line-height-base: 1.6471;
